Redirect permanent /projects/calendar/sunbird.html http://www.mozilla.org/projects/calendar/sunbird/index.html
Redirect permanent /projects/calendar/sunbird_build.html http://www.mozilla.org/projects/calendar/sunbird/build.html
Redirect permanent /projects/calendar/sunbird_screenshot.html http://www.mozilla.org/projects/calendar/sunbird/screenshot.html
Redirect permanent /projects/calendar/sunbird_download.html http://www.mozilla.org/projects/calendar/sunbird/download.html
Redirect permanent /projects/calendar/sunbird_download_old.html http://www.mozilla.org/projects/calendar/sunbird/download_old.html
Redirect permanent /projects/calendar/sunbird_l10n_download.html http://www.mozilla.org/projects/calendar/sunbird/l10n_download.html
Redirect permanent /projects/calendar/lightning.html http://www.mozilla.org/projects/calendar/lightning/index.html
Redirect permanent /projects/calendar/download.html http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/installation.html http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/screenshot.html http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/skins.html http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/dev_guide.html http://wiki.mozilla.org/Calendar:Dev_Guide
Redirect permanent /projects/calendar/releases/sunbird_0.3alpha1.html http://www.mozilla.org/projects/calendar/releases/sunbird0.3alpha1.html
Redirect permanent /projects/calendar/calext/skins.html http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/calext/screenshot.html http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/calext/installation.html http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/calext/download.html http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/calext/index.html http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/calext/ http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/calext http://www.mozilla.org/projects/calendar/
Redirect permanent /projects/calendar/lightning/Darwin_x86-gcc3/update.rdf http://www.mozilla.org/projects/calendar/lightning/Darwin_ppc-gcc3/update.rdf
Redirect permanent /projects/calendar/releases/lightning1.0b2pre.html http://www.mozilla.org/projects/calendar/releases/lightning1.0b1.html
Redirect permanent /projects/calendar/releases/lightning1.0b1pre.html http://www.mozilla.org/projects/calendar/releases/lightning1.0b1.html
Redirect permanent /projects/calendar/releases/lightning1.0pre.html http://www.mozilla.org/projects/calendar/releases/lightning1.0b1.html
Redirect permanent /projects/calendar/donate.html https://donate.mozilla.org/page/contribute/calendar
