/* -*- mode: css -*-
 * CSS definitions for the calendar pages
 * http://www.mozilla.org/projects/calendar
 *
 */

img { border-style: none !important;
}

td {
    text-align: center;
}

table.data td {
    text-align: left;
}

.completed { 
    text-decoration: line-through; 
}

.credits {
    font-size: 80%;
}

.nowrap {
    white-space: nowrap;
}

.key-point {
    overflow: hidden;
}

.sunbird-releasenotes,
.lightning-releasenotes {
    padding-top: 70px !important;
    width: 100% !important;
}

.sunbird-releasenotes {
    background: url("./images/releasenotes-sunbird.png") no-repeat;
}

.lightning-releasenotes {
    background: url("./images/releasenotes-lightning.png") no-repeat;
}

.product-desc {
  background-size: 93.5% auto;
  color: #4C5C5C;
  float: left;
  line-height: 140%;
  min-height: 9em;
  padding: 40px 0 25px;
  width: 60%;
}

.product-desc h2 {
  font-size: 2px;
  height: 25px;
  line-height: 2px;
  text-indent: -700em;
}

.product-desc p {
  margin: 1em 0;
  padding-left: 170px;
}

.product-side {
  margin-left: 65%;
}

.product-side .download h3 {
  color: #1D9101;
  font-size: 140%;
  font-weight: bold;
  margin: 0;
}

.product-lightning,
.product-sunbird {
  padding-top: 25px !important;
  padding-bottom: 0 !important;
}

.product-sunbird {
  background: url("./images/header-sunbird.png") no-repeat;
}

.product-lightning {
  background: url("./images/header-lightning.png") no-repeat;
}

.no-list {
  list-style-type: none;
}

.upper-roman {
  list-style-type: upper-roman;
}

.upper-alpha {
  list-style-type: upper-alpha;
}

.lower-alpha {
  list-style-type: lower-alpha;
}

/* Fix for the Back to Lightning/Sunbird link in release notes */
/* =========================================================== */

#back:before {
  line-height: 0.1;
  font-size: 1px;
  background: transparent url("../../images/menu_tr.gif") no-repeat top right;
  margin: 0;
  height: 9px;
  display: block;
  border-bottom: 1px solid #ddd;
  content: url("../../images/key-point_tl.gif");
}

#back {
  background: #E0E9E9 url("../../images/menu_back.gif") right repeat-y;
}

#back:after {
  display: block;
  padding-top: 0;
  line-height: 0.1;
  font-size: 1px;
  content:  url("../../images/key-point_bl.gif");
  margin: 0 0 0 0;
  height: 8px;
  background: transparent url("../../images/menu_br.gif") scroll no-repeat bottom right;
  border-top: 1px solid #fff;
}
	
#back, #back ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#back {
margin-bottom: 1em;
}	

#back li {
  display: inline;
  padding: 0;
  margin: 0;
}
	
#back li span { /* used for un-linked menu items */
  display: block;
  padding: 6px 10px;
  font-weight: bold;
  color: #666;
}

#back li span#configParent, #back li span #configuration {
  display: inline;
  font-weight: normal;
  padding: 0;
}
	
#back li a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  background: #EDF2F2;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
  border-right: 1px solid #ddd;
}

#back li a:hover {
  background: #E0E9E9;
}
	
#back li li span { /* used for un-linked menu items */
  padding: 4px 8px 4px 20px;
 }
	
#back li li a {
  padding: 6px 8px 6px 20px;
}
