table.features {
	border-collapse: collapse;
}

.features td, th {
    padding: 8px 12px;
	border: 1px inset #DDDDDD;
	font-family: Tahoma, Georgia, Arial;
}

.features td span {
	font-weight: bold;
}

.features tr {
    font-family: Arial;
    font-size: 13px;
}

.features tr:nth-child(odd) {
	background-color: WhiteSmoke;
}

.features .inactive {
	font-style: italic;
	color: silver;
}

.features .active {
	font-style: italic;
	font-weight: bold;
}