<?php

$html_title = 'Component Security: mozDriver instructions';

$menu = array(
    'id' => 'default',
);

require_once "{$config['file_root']}/includes/header.inc.php"

?>

<br>
<h2>Using mozDriver</h2>
<p><a href="mailto:jat@princeton.edu">John Taylor</a></p>
<p>mozDriver is a test driver for the Mozilla browser. Currently,
it is only available for use in testing Mozilla on a <tt>UNIX</tt>-based
platform (Linux, FreeBSD, etc). If someone has been able to 
figure out a good way of using perl for process control in windows or mac,
please let us know. The driver tests the browser for security regressions.</p>
<p>The driver is a perl script (<tt>mozDriver.pl</tt>), which uses
process control in a <tt>UNIX</tt> environment. When the driver is run,
it looks in a user-defined test case file, then for each test it starts a new
instance of Mozilla. The driver then watches the output from Mozilla, and
flags the test case "failed" or "passed". Output is written to an <tt>HTML</tt>
file in the local directory. 
<br>
<h3>Examples</h3>
<p><i>Running the driver (see <a href="usage.html">usage</a>):</i></p>
<tt>perl mozDriver -l<b>testlist</b> -e<b>seamonkey</b></tt><br>
Where <tt>testlist</tt> is the file listing test cases. <tt>-eseamonkey</tt> is
required, unless you create your own engine. The driver can potentially run any
browser which reads an URL from a the command line at startup.

<p><i>Sample test list</i></p><p> The test case
file is a list of web pages, each on its own line, as shown below.</p>
<pre>
http://testserv/security/test344.html
file://usr/tests/test1.html
</pre>
<br>
<h3>Getting mozDriver</h3>
<p>mozDriver is available in the mozilla.org <a href="http://www.mozilla.org/source.html">
source tree</a> in the <tt>/mozilla/caps/tests</tt> directory. If you do not want to download
the entire tree, you can view the 
<a href="http://lxr.mozilla.org/mozilla/source/caps/tests/mozDriver.pl">mozDriver.pl</a> source and
our <a href="http://lxr.mozilla.org/mozilla/source/caps/tests/securetest.list">current test list</a>.
A distribution of perl is needed to run the driver. In addition, the 
<tt>Getopt::Mixed.pm</tt> package is needed (available on <a href="http://www.cpan.org">
CPAN</a>)</p><br>
mozDriver was adapted from <a href="mailto:rginda@netscape.com">Robert Ginda's</a> JavaScript
<a href="http://lxr.mozilla.org/mozilla/source/js/tests/README-jsDriver.html">jsDriver</a>.<br>


<?
require_once "{$config['file_root']}/includes/footer.inc.php"
?>
