<?php

$html_title = 'Component Security: mozDriver usage';
$page_title = 'mozDriver Usage';

$menu = array(
    'id' => 'default',
);

require_once "{$config['file_root']}/includes/header.inc.php"

?>

<table border=0 cellspacing=10>
<tr><td colspan=2><b>usage: <tt>mozDriver.pl [&lt;options>]</tt></b></td></tr> 
<tr><td><tt>(-b|--bugurl)</tt></td><td>Bugzilla URL.<br>
                                (default is http://bugzilla.mozilla.org/show_bug.cgi?id=)</td></tr>
<tr><td><tt>(-e|--engine) &lt;type> ... </tt> </td><td>Specify the type of engine(s) to test.
                                 &lt;type> is one or more of (seamonkey).</td></tr>
<tr><td><tt>(-f|--file) &lt;file> </tt></td><td>Redirect output to file named &lt;file>.<br>
                               (default is results-&lt;engine-type>-&lt;date-stamp>.html)</td></tr>
<tr><td><tt>(-h|--help)</tt></td><td>Print this message.</td></tr>
<tr><td><tt>(-k|--confail)</tt></td><td>Log failures to console (also.)</td></tr>
<tr><td><tt>(-l|--list) &lt;file> ...</tt></td><td>List of tests to execute.</td></tr>
<tr><td><tt>(-L|--neglist) &lt;file> ...</tt></td><td> List of tests to skip.</td></tr>
<tr><td><tt>(-o|--opt) &lt;options> </tt></td><td>Options to pass to the JavaScript engine.<br>
                               (Make sure to quote them!)</td></tr>
<tr><td><tt>(-p|--testpath) &lt;path></tt></td><td>Root of the test suite. (default is ./)</td></tr>
<tr><td><tt>(-s|--shellpath) &lt;path></tt></td><td>Location of JavaScript shell.</td></tr>
<tr><td><tt>(-t|--trace)</tt></td><td>Trace script execution.</td></tr>
<tr><td><tt>(-u|--lxrurl) &lt;url></tt></td><td>Complete URL to tests subdirectory on lxr.<br>
                               (default is http://lxr.mozilla.org/mozilla/source/js/tests/)</td></tr>
<tr><td><tt>(-x|--noexitmunge)</tt></td><td>Don't do exit code munging (try this if it<br>
                               seems like your exit codes are turning up<br>
                               as exit signals.)</td></tr>
</table>

<a href="">mozDriver instructions</a><br><br>



<?
require_once "{$config['file_root']}/includes/footer.inc.php"
?>
