body {
    font-family: serif;
    color: #807970;
    margin: 0;
    padding: 5px 4px 4px 8px;
    background: #fff url(header-background.png) top left repeat-x;
}

a:link,
a:visited {
    text-decoration: underline;
    color: #0489B7;
}

.bold {
    font-weight: bold !important;
}

.small {
    font-size: 75%;
}

#wrapper {
    width: 266px;
    margin: 0 auto;
}

#details-header {
    padding-right: 62px;
    padding-left: 7px;
    min-height: 70px;
    background-position: top right;
    background-repeat: no-repeat;
    background: url(seamonkey64.png) top right no-repeat;
}

#details-header h1 {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: normal;
    margin: 0;
    color: #003399;
}

#details-header p {
    margin: 0;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

#details-content {
    width: 266px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 3px;
    min-height: 75px;
    font-size: 75%;
    background-position: top center;
    background-repeat: no-repeat;
    background: url(box-top.png) top center no-repeat;
}

#details-content p {
    margin-left: 1em;
}

#details-content ul {
    left: 0;
    margin: 0;
    padding: 0 0 12px 0;
    background: url(box-bottom.png) bottom center no-repeat;
}

#details-content ul li {
    margin-left: 12px;
    margin-right: 20px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 8px;
    list-style-type: none;
    background: url(bullet.png) 0 7px no-repeat;
}

/* rtl fixes */

html[dir='rtl']  #details-header {
    padding-left:75px;
    padding-right:10px;
    min-height:70px;
    background-position:10px 4px;
}

html[dir='rtl'] #details-content ul li:first-child {
    margin-right: 20px !important;
}
