
td,p,li,input,select {font-size:12px;}
.C01 {color:#ffffff}
.L13 {line-height:130%}
.L15 {line-height:150%}
.L17 {line-height:170%}
.F7 {font-size:7px;}
.F16 {font-size:16px;}
.s01 {border-top:1;border-left:1;border-right:1;border-bottom:1;border-style:inset;background-color:#ffffff;vertical-align:text-bottom}
.s02 {border-left:1 ridge #ffffff;border-top:1 ridge #ffffff;border-bottom:1;border-right:1;border-style:ridge;background-color:#cccccc}
.s03 {border-top:1;border-left:1;border-right:1;border-bottom:1;border-style:solid;border-color:#939598;background-color:#ffffff;vertical-align:text-bottom}
A:link {color:#00007f;}
A:visited {color:#65038e;}
A:active {color:#ff0000;}
A:hover {color:#ff0000;}
A.a01:link {text-decoration:none;color:#ffffff;}
A.a01:visited {text-decoration:none;color:#ffffff;}
A.a01:active {text-decoration:none;color:#eeeeee;}
A.a01:hover {text-decoration:none;color:#ffffff;}
A.a02:link {color:#0000ff;}
A.a02:visited {color:#0000ff;}
A.a02:active {color:#ff0000;}
A.a02:hover {color:#ff0000;}
A.a03:link {text-decoration:none;color:#000000;}
A.a03:visited {text-decoration:none;color:#000000;}
A.a03:active {text-decoration:none;color:#ff0000;}
A.a03:hover {text-decoration:none;color:#ff0000;}
A.a04:link {text-decoration:none;color:#00007f;}
A.a04:visited {text-decoration:none;color:#00007f;}
A.a04:active {text-decoration:none;color:#ff0000;}
A.a04:hover {text-decoration:none;color:#ff0000;}
.c03{color:#000000;border-color:#000000;}
#mydown{position:relative;z-index:0;top:0;left:0;}
#mydown1{position:absolute;z-index:0;top:0;left:0;width:100;height:240;visibility:hidden;}
#mydownnew {
 LEFT: 0px; POSITION: relative; TOP: 0px
}
#mydown2 {
 HEIGHT: 240px; LEFT: 0px; POSITION: absolute; TOP: 0px; VISIBILITY: hidden; WIDTH: 100px
}

