Redirect permanent /ports/fizzilla/ChimChim.html http://wiki.caminobrowser.org/Development:Building
Redirect permanent /ports/fizzilla/DebugMach.html http://developer.mozilla.org/en/Debugging_FizzillaMach
