Options FollowSymLinks MultiViews

RewriteEngine on
RewriteBase /support/
RewriteRule ^adblock(\.html)?$              https://addons.mozilla.org/firefox/addon/adblock-plus/ [R=permanent]
RewriteRule ^consulting(\.html)?$           https://wiki.mozilla.org/Consulting [R=permanent]
RewriteRule ^(firefox/)?bugs(\.html)?$      http://developer.mozilla.org/en/Bug_writing_guidelines [R=permanent]
RewriteRule ^(firefox/)?edit(\.html)?$      http://support.mozilla.com/ [R=permanent]
RewriteRule ^(firefox/)?faq(\.html)?$       http://support.mozilla.com/ [R=permanent]
RewriteRule ^firefox/index(\.html)?$        http://support.mozilla.com/ [R=permanent]
RewriteRule ^(firefox/)?keyboard(\.html)?$  http://support.mozilla.com/kb/Keyboard%20shortcuts [R=permanent]
RewriteRule ^(firefox/)?menu(\.html)?$      http://support.mozilla.com/kb/Menu%20Reference [R=permanent]
RewriteRule ^(firefox/)?mouse(\.html)?$     http://support.mozilla.com/kb/Mouse%20shortcuts [R=permanent]
RewriteRule ^(firefox/)?options(\.html)?$   http://support.mozilla.com/kb/Options%20window [R=permanent]
RewriteRule ^(firefox/)?tips(\.html)?$      http://support.mozilla.com/ [R=permanent]
RewriteRule ^(firefox/)?forums(\.html)?$    https://support.mozilla.com/en-US/questions [R=permanent]
RewriteRule ^(firefox/)?profile(\.html)?$   http://support.mozilla.com/kb/Profiles [R=permanent]
RewriteRule ^firefox/                       http://support.mozilla.com/ [R=permanent]

RewriteRule ^(thunderbird/)?bugs(\.html)?$      http://developer.mozilla.org/en/Bug_writing_guidelines [R=permanent]
RewriteRule ^(thunderbird/)?edit(\.html)?$      http://developer.mozilla.org/en/Thunderbird/Thunderbird_Configuration_Files [R=permanent]
RewriteRule ^(thunderbird/)?faq(\.html)?$       http://support.mozillamessaging.com/kb/Thunderbird-FAQ [R=permanent]
RewriteRule ^thunderbird/index(\.html)?$        http://support.mozillamessaging.com/ [R=permanent]
RewriteRule ^(thunderbird/)?keyboard(\.html)?$  http://support.mozillamessaging.com/kb/Keyboard-shortcuts [R=permanent]
RewriteRule ^(thunderbird/)?menu(\.html)?$      http://support.mozillamessaging.com/kb/Menu-Reference [R=permanent]
RewriteRule ^(thunderbird/)?mouse(\.html)?$     http://support.mozillamessaging.com/kb/Keyboard-shortcuts [R=permanent]
RewriteRule ^(thunderbird/)?tips(\.html)?$      http://support.mozillamessaging.com/ [R=permanent]
RewriteRule ^(thunderbird/)?forums(\.html)?$    http://getsatisfaction.com/mozilla_messaging [R=permanent]
RewriteRule ^(thunderbird/)?profile(\.html)?$   http://support.mozillamessaging.com/kb/Profiles [R=permanent]
RewriteRule ^thunderbird/                       http://support.mozillamessaging.com/ [R=permanent]