Redirect permanent /hacking/portable-cpp.html http://developer.mozilla.org/en/C%2B%2B_Portability_Guide
Redirect permanent /hacking/CVS-Contributor-Form.pdf http://www.mozilla.org/hacking/committer/
Redirect permanent /hacking/CVS-Contributor-Form.ps http://www.mozilla.org/hacking/committer/
Redirect permanent /hacking/getting-cvs-write-access.html http://www.mozilla.org/hacking/committer/
Redirect permanent /hacking/form.html http://www.mozilla.org/hacking/notification/
Redirect permanent /hacking/rules.html http://developer.mozilla.org/en/mozilla-central
