Options +MultiViews
Redirect permanent /projects/security/known-vulnerabilities.html http://www.mozilla.org/security/known-vulnerabilities/
Redirect permanent /projects/security/older-vulnerabilities.html http://www.mozilla.org/security/known-vulnerabilities/older-vulnerabilities.html
