/* mozilla.org css
by dave shea, http://www.mezzoblue.com/ */
/* Modified L. David Baron. */
/* vim:ts=8:noet:
*/
/* see bug 225032 for css validation issues */

/* Most of this style sheet has been split into the base/mezzotan content
   and template CSS files. What remains needs to be cleaned up/out. -- fantasai */

@import url(base/content.css);
@import url(base/template.css);
@import url(mezzotan/content.css);
@import url(mezzotan/template.css);

/*what's new*/
#whatsNew p {
	margin: 0.2em 0.5em;
}

#finds p {
	color: #896834;
	margin-top: 0;
}

#ftr {
	margin-left: 0;
	padding-left: 1.5em;
}
#ftr li {
	list-style-type: circle;
	margin-bottom: 0.1em;
}

/* product list panel */
#prodlist {
	margin: 1em 0 0 0;
}

#prodlist :link {
	color: #977F56;
}
#prodlist :visited {
	color: #6B5839;
	font-weight: bold;
}
#prodlist :link:hover, #prodlist :visited:hover {
	color: #B08A48;
}
#prodlist h2 {
	color: #554FA0;
	background-color: #EEECF6;
	background-position: center left;
	padding: 7px;
	border: dotted 1px #D6CCBD;
	border-right: 0;
	border-left: 0;
	margin-bottom: 0;
}
#prodlist h2 :link, #prodlist h2 :visited {
	color: #554FA0;
}
#prodlist dl {
	margin: 0;
}
#prodlist dt {
	margin: 0 0 0 60px;
	padding: 0.4em 0 0 0.7em;
	border-left: dotted 1px #D6CCBD;
}
#prodlist .im {
	clear: left;
	float: left;
	width: 60px;
	text-align: center;
	border: 0;
	margin: 0;
	padding: 1em 0 0.5em 0;
	}
#prodlist dd {
	margin: 0 0 0 60px;
	padding: 1px 0 0.4em 0.7em;
	border-bottom: dotted 1px #D6CCBD;
	border-left: dotted 1px #D6CCBD;
}
#prodlist dd p, #prodlist dd ul {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
#prodlist .dl {
	color: #666;
}

#prodlist dd #quotes {
	color: #896834;
}

#prodlist dd #quotes p {
	margin: 1em 5%;
}


/* ad */
#ad, #rhs2 {
	width: 157px;
}
#rhs2 {
	position: absolute;
	right: 10px;
	margin: 2em 0 0 0;
}
#ad {
	margin: 2em 1em;
}
#ad :link, #ad :visited, #rhs2 :link, #rhs2 :visited {
	clear: both;
}
#ad .bl img, #rhs2 .bl img {
	background: #554FA0;
}
#ad .bl img:hover, #ad .bl img:focus, #rhs2 .bl img:hover, #rhs2 .bl img:focus {
	background: #5C56AF;
}
#ad .br img, #rhs2 .br img {
	background: #A0714F;
}
#ad .br img:hover, #ad .br img:focus, #rhs2 .br img:hover, #rhs2 .br img:focus {
	background: #B17F5A;
}
#ad .bu img, #rhs2 .bu img {
	background: #6B8381;
}
#ad .bu img:hover, #ad .bu img:focus, #rhs2 .bu img:hover, #rhs2 .bu img:focus {
	background: #729390;
}
#ad .bd img, #rhs2 .bd img {
	background: #BC6055;
}
#ad .bd img:hover, #ad .bd img:focus, #rhs2 .bd img:hover, #rhs2 .bd img:focus {
	background: #DE6354;
}


/* secondlevel */
#brd {
	margin: 0 0 0.5em 0;
	position: relative;
	top: -1.5em;
	text-align: right;
	font-size: 87%;
	color: #999;
}
#brd :link, #brd :visited {
	padding: 5px;
}
#brd :link:hover, #brd :visited:hover {
	color: #fff;
	background-color: #DCC085;
}
#brd em {
	font-style: normal;
	font-weight: bold;
	color: #666;
}

/* generic reusable style */

.feature {
	width: 200px;
	float: left;
	margin: 0 10px 10px 10px;
	padding: 15px;
	background: #EEEAE4;
	border: double 3px #fff;
	text-align: center;
}
.feature img {
	border: solid 1px #E8E3DB;
	border-right: solid 1px #D6CBBD;
	border-bottom: solid 1px #D6CBBD;
}
.feature p {
	font-size: 80%;
	line-height: normal;
	margin: 5px 0 0 0;
	padding: 3px;
	background: #F3F0EC;
	border: solid 1px #E6E0D7;
	border-right: solid 1px #FCFBFA;
	border-bottom: solid 1px #FCFBFA;
}
.highlight {
	display: block;
	border-top: double 3px #ccc;
	border-bottom: double 3px #ccc;
	padding: 8px;
	margin: 20px 40px;
}
.highlight img {
	float: right;
	margin: 0 20px 0 20px;
}
.highlight dl {
	padding: 1em;
}
.highlight dd {
	white-space: nowrap;
}
.mice {
	font-size: 70%;
	line-height: 1.1;
	color: #999;
	margin-top: 2em;
}
.mice :link, .mice :visited {
	color: #666;
}
.linkset {
	padding: 10px;
	margin: 0 0 0.5em 0;
	background: #eee;
	border-top: double 3px #ccc;
	border-bottom: double 3px #ccc;
}
.linkset li {
	list-style-type: none;
	padding-left: 20px;
	margin: 12px;
}
.linkset .dlwin {
	background: url(../images/ico-win.png) top left no-repeat;
}
.linkset .dlosx {
	background: url(../images/ico-osx.png) top left no-repeat;
}
.linkset .dllinux {
	background: url(../images/ico-tux.png) top left no-repeat;
}
#main {
	width: 350px;
	margin-right: 170px;
}
#main img {
	margin-bottom: -1em;
}
#rhs, #rhs2 {
	position: absolute;
	left: 650px;
	top: 160px;
	width: 160px;
}
#rhs2 {
	top: 0;
}
#rhs img {
	padding-left: 35px;
	margin-bottom: -20px;
}
