dl.sitelist dt { font-weight: normal;}
dl.sitelist a { font-weight: normal;}
dl.sitelist dt > strong a { font-weight: bold; }

ul.sitelist { padding-left: 1em;}
ul.sitelist li { list-style-type: circle; padding: .25em; }
ul.sitelist li a { font-weight: normal;}
ul.sitelist li p:first-child { padding-top: 0; }

table.forumlist { border-collapse:collapse; width:100%; }
table.forumlist th { vertical-align:top; border:1px solid #eeeeee; text-align:left; }
table.forumlist td { vertical-align:top; border:1px solid #eeeeee; padding-bottom: .75em; font-size: smaller; }
table.forumlist td > p:first-child { margin-top:0 }
table.forumlist td > ul:first-child { margin-top:0 }
table.forumlist col.name { width:11.5em; }
table.forumlist col.subscribe { width:23em; }
table.forumlist tr:target { background-color: pink; }
ul.subscribe { list-style: none; padding-left:0; }
table.forumlist td ul.subscribe { margin: 0 0 1em; }

/* make sure <dd> space properly when <ul> is the last child */
dd { padding-bottom: .75em; }
dd p:last-child { margin-bottom: 0; }

/* international stuff */
p.disclaimer { font-size: smaller; color: gray; margin:0;}

ul.search { padding-left: 1em;}
ul.search li { list-style-type: circle; }
ul.search li a { font-weight: normal;}

ul.newsgroup { padding-left: 1em;}
ul.newsgroup li { list-style-type: circle; }
ul.newsgroup li a { font-weight: normal;}