
/*-------------------------------------------    
    Get Involved
-------------------------------------------*/

#options h3 { color: #a80c1e; text-align: center; }
#options-nav { list-style-type: none; width: 100%; margin: 0 0 0 1px;}
	#options-nav li { background: none; float: left; margin: 0 0 0 -1px; padding: 0;   border-left:1px solid #ddd; }
	#options-nav li.active a { background-color: #fff; border-bottom-color: #fff;  color:#a80c1e}
		#options-nav li a { position: relative;z-index:1;font-family: Georgia, serif; font-size:135%; display: block; border:1px solid #ddd; border-width: 1px 1px 1px 0; padding: 7px 15px; margin: 0 0 -1px 0; background-color: #eee; color:#666}
			#options-nav li a:hover {  color:#b91e27 }

#options { width: 91%; margin: 5em 4em 5em 0; clear: both;}
#mainContent #options { padding-top: 15px; }
#options.solo { margin-top: 0; }
	#options div { clear: both; float:left; border: 1px solid #ddd; padding: 2em; }
		#options .info { font-family:Georgia, serif; font-style: italic; font-size:120%; }
		#options div ul { padding: 0; margin: 2em 0;}
		#options div li { background: none; padding: 0; float: left; clear: left; width: 100%; }
		#options div li img { float: left; margin:0.875em 0.875em 0.875em 0; }
		#options div h5 { margin-bottom: 0; font-size: 140%; }
		#options div { display: none; }
		#options div.active { display: block; }

.options-Interest a {font-weight: bold;}
.options-Availability a {font-weight: bold;}
		
#get-involved { text-align: center; margin: 20px 0 46px; }
	#get-involved h2 { display: block; background: transparent url(/i/screen/get-involved.gif) no-repeat 52% 0; width: 263px; height: 168px; text-indent: -9999px; }
	#get-involved p { margin-left:-20px; }

/* .get-involved #main { background: url(/i/screen/get-involved-b.gif) no-repeat right 0; } */
.get-involved-header { float: left; margin-right: 15px; margin-bottom: 2em;}

#mainContent { clear: both; width: 67%;}

span.local { position: absolute; top: 98px; left: 40px;text-transform: uppercase; font-family: Georgia, serif; color: #148cb5; font-size: 90%; width: 184px; text-align: center; }

.more input { position: relative; left: 67px; top: 5px; }

/* CSS for text based submit button
p.more { background: transparent url(/images/template/screen/community-bottom.png) no-repeat 50% bottom; padding-bottom: 30px; }
	.more a { background: transparent url(/images/template/widgets/view-more.png) no-repeat 0 0; width: 164px; height: 22px; display: block; position: #relative; left: 67px; top: 5px; font-size: 11px; text-align: center; padding-top: 5px; }
	p.more a:hover, p.more a:focus { background-position: 0 -27px; border: none; text-decoration: none; }
*/

/*-------------------------------------------
    Get Involved Layout
-------------------------------------------*/

#content-wrap { float:left; margin:0 -305px 0 0; width:100%; }
#content { margin:0 305px 0 0; overflow:visible; position: relative; }

#sub { width:305px; padding: 0; }
	#community-sub { background: transparent url(/images/template/screen/bg_community_t.png) no-repeat left top; /*border-top:5px solid #0095B9;*/ /*min-height:438px; padding:20px;*/ padding: 20px 0 0; }
	#community-sub h2 { color:#a80c1e }
.section { border-bottom-color:#dbe2e8; }

#sub .bug { margin: 0 30px 30px; }
	#sub .bug h2 { margin-top: 0; }	
#sub #gear { clear: both; margin: 0; overflow: hidden; /*position:relative; right:-20px;*/ margin-left:30px; }



/*-------------------------------------------
    Get Involved Search Box
-------------------------------------------*/

.get-involved-search form:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

.get-involved-search h2 { color:#4b769a; font-size:30px; margin:5px 0 0 53px; }

.get-involved-search { background: #cbcccc; padding:6px; font-size:10px; }
	.get-involved-search { margin-bottom: 0; }
.get-involved-search form { background: #dee0e1; margin: 15px 0; }
		.get-involved-search form fieldset { border: none; }
	.get-involved-search form #get-involved-search-input { width: 300px; border: 1px solid #999; font-size: 110%;margin-right: 5px; padding: 10px; height: 13px; color: #666; }

/*-------------------------------------------    
    Get-in-touch-form (only used on design #4)
-------------------------------------------*/
		#get-in-touch-form form, #get-in-touch-form h2, #get-in-touch-form p.info { width: 40%;font-family:Georgia, serif; margin-bottom: 30px; }
		#get-in-touch-form h2 { color: #4b769a; margin: 0 0 .25em 0;}
		#get-in-touch-form .info { float: left; }
		#get-in-touch-form form { float: left; margin: 0 0 30px 20px; }
		#get-in-touch-form #get-involved-email-input, #get-in-touch-form textarea  { border: 1px solid #ccc; padding: 3px; font-size: 110%; color: #666; width: 100%; }
/*-------------------------------------------    
    Find-As-You-Type Results
-------------------------------------------*/

#results { margin: -3em 35px 0 40px; border: 1px solid #ddd; border-width: 0 1px; padding: 2em 0 0 0; }
#results h4 { font-family: Georgia, serif; font-size:140%; font-weight: normal; text-transform: none;margin: .75em 0 1em 0; padding: 1em 2em 0 1em; }
	#results h4 span { color:#b91e27; }
#results ol { margin: 0; list-style-type: none;}
#results ol li {  background: #eee; border-bottom:1px solid #ddd ; padding: 1em; margin: 0 0 0 0px; text-indent: 5px; }
	#results ol li.alt { background: none; }
	#results p { margin: 0; }
	#results p.tags { font-size: .8em; text-align: right;}

/*-------------------------------------------
    Sidebar Email
-------------------------------------------*/

#community-sub h2 { margin-left: 30px; margin-right: 35px; }
#community-sub p { margin: 0 35px 10px 30px; }
	#community-sub p.more { margin: 0; }
	#community-sub form #get-involved-email-input, #community-sub form textarea { width: 220px; border: 1px solid #ccc; padding: 3px; font-size: 110%; color: #666;} 
	#community-sub form textarea { height: 100px;} 


/*-------------------------------------------    
    Enhanced
-------------------------------------------*/
.get-involved-search  { margin-right:-461px; padding:6px 0 6px 6px; position:relative; background:#CBCCCC url(/images/template/screen/bg_project_carousel.png) repeat-y scroll right top; }

.get-involved-search form, .get-involved-search p { background:none; height:4em; margin:0 481px 2.1em 20px; overflow:hidden; padding:0; position:relative; top:0px; left:15px; }
.get-involved-search p {  margin-bottom:1em; padding:0; top:10px; left:15px; } #sub { position:relative; }

/* browser specific css */
.get-involved-search form {
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.get-involved-search  {
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
		
	border-top-right-radius:0;
	-moz-border-top-right-radius:0;
	-webkit-border-top-right-radius:0;
	
	border-bottom-right-radius:0;
	-moz-border-bottom-right-radius:0;
	-webkit-border-bottom-right-radius:0;
}



