/* mozilla.org css
by dave shea, http://www.mezzoblue.com/ */
/* Modified L. David Baron. */
/* vim:ts=8:noet: 
*/
/* see bug 225032 for css validation issues */
/*html elements*/
html {
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	background: #fff;
	color: #000;
	font-family: georgia, serif;
	font-size: 120%;
}

:link img, :visited img {
	border: 0;
}
.deepLevel #mainContent :link img, .deepLevel #mainContent :visited img {
	border: medium solid;
}
form {
	margin: 0;
	display: inline;
}
label, input {
	font-weight: bold;
	color: #A57B46;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 0.5em 0;
	clear: both;
}
.homepage h1, .secondLevel h1 { font-size: 120%; }
.homepage h2, .secondLevel h2 { font-size: 110%; }
.homepage h3, .secondLevel h3 { font-size: 100%; }
.homepage h4, .secondLevel h4 { font-size: 100%; }
.homepage h5, .secondLevel h5 { font-size: 90%; }
.homepage h6, .secondLevel h6 { font-size: 90%; }
h1 { color: #955322; }
h2 { color: #EC361D; }
h3 { color: #B26C38; }
h4 { color: #666; }
h5 { color: #955322; }
h6 { color: #EC361D; }

sup {
	font-size: 70%;
}
:link {
	color: #554FA0;
	font-weight: bold;
}
:visited {
	color: #090051;
	font-weight: bold;
}
:link:hover, :visited:hover {
	color: #5B52CB;
}
hr {
	padding: 0;
	height: 4px;
	border: 0;
	background: url(../images/bg11.gif) repeat;
	margin: 2em 0;
}


/*structure*/
#container {
	margin: 0;
	padding: 0;
}
#mBody {
	background: #EEEAE4;
	position: absolute;
	top: 100px;
	left: 0;
	margin: 0;
	padding: 0;
}
.nomenu #mBody {
	background: #fff;
}
#side {
	background: transparent url(../images/bg6.gif) top left repeat-x;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px 15px;
	width: 206px;
	voice-family: "\"}\""; voice-family:inherit; /* Tantek's hack */
	width: 176px;
} #ignored {}
.nomenu #side {
	display: none;
	}
#side h2 {
	margin-top: 1em;
	}

.flLeft {
	float: left;
	margin: 5px 10px 5px 0;
}
.flRight {
	float: right;
	margin: 5px 0 5px 10px;
}



/*header*/
#header {
	background: transparent url(../images/bg1.gif) top left repeat-x;
}
#header img {
	float: left;
	margin: 0;
}
#mainNav {
	margin: 0 3px 0 212px;
	padding: 9px 0 0 0;
	width: auto;
	height: 31px;
	text-align: right;
	background: transparent url(../images/bg3.gif) top left repeat-x;
}
#mainNav li, #fc li {
	white-space: nowrap;
	list-style-type: none;
	display: inline;
	padding-right: 0.6em;
}
#mainNav :link, #mainNav :visited {
	font-size: 93%;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
#mainNav :link:hover, #mainNav :visited:hover {
	padding-bottom: 4px;
	border-bottom: solid 3px #B77723;
}

#sf {
	border: solid 1px #F1DAA8;
	background: transparent url(../images/bg2.gif) top left repeat-x;
	margin: 0 3px 0 212px;
	position: relative;
	top: -6px;
	text-align: right;
	padding: 15px 15px 0 0;
	height: 57px;
	voice-family: "\"}\""; voice-family:inherit; /* Tantek's hack */
	height: 42px;
} #ignored {}
#sf label {
	font-size: 80%;
}
#q {
	font-size: 70%;
	font-weight: normal;
	background: #FAE8BA;
	border: solid 1px #E3C690;
	border-bottom-color: #F1D79E;
	border-right-color: #F1D79E;
	padding: 2px;
}
#q:hover, #q:focus {
	background: white;
}
#submit {
	background-color: #DCC085;
	border: solid 1px #C5A46C;
	border-top-color: #E6D098;
	border-left-color: #E6D098;
}
#submit:hover, #submit:focus {
	background: #FAE8BA;
}

/*sidebar*/
#getcd {
	margin: 1em 0 0 45px;
}
#side h2 {
	color: #B26C38;
}
#side h3 {
	color: #333;
	margin: 2em 0 0 0;
}
#side h4 {
	color: #999;
	font-size: 90%;
	margin-top: 0;
	margin-bottom: 0.5em;
}
#side p {
	margin: 0 0 2em 0;
	font-size: 87%;
}
#side dl {
	margin-top: 0;
}
#side dt {
	font-weight: bold;
	display: inline;
	font-size: 87%;
}
#side dd {
	padding: 0 0 5px 5px;
	margin: 0 0 1em 0;
	border-left: solid 3px #E3DDD3;
	font-size: 87%;
}
#side ul {
	padding: 0;
	margin: 0;
}
#side li {
	list-style: none;
	background: transparent url(../images/w6.gif) top left no-repeat;
	padding: 0 0 0.3em 11px;
}

#oN {
	background-color: #F5F2EF;
	border: solid 1px #fff;
	padding: 10px;
	margin: 1em 0 0 0;
}
#oN:hover {
	background-color: #F8F7F4;
}
#oN li {
	list-style-type: none;
	margin-bottom: 0.5em;
	padding-left: 15px;
	background: transparent url(../images/w5.gif) top left no-repeat;
}

/*body*/
#mainContent {
	background: #fff;
	line-height: 1.3; /* value other than 'normal' needed for WinIE */
	margin-left: 206px;
	voice-family: "\"}\""; voice-family:inherit; /* Tantek's hack */
	border-bottom: solid 1px #fff;
} #ignored {}
.homepage #mainContent {
	padding: 20px 30px;
}
.nomenu #mainContent {
	margin-left: 0;
	background: #fff url(../images/bg10.gif) top left repeat-x
}
.secondLevel #mainContent, .deepLevel #mainContent {
	padding: 20px 50px;
}
.deepLevel #mainContent {
	line-height: 1.4;
}


/*what's new*/
#whatsNew p {
	margin: 0.2em 0.5em;
}

#finds p {
	color: #896834;
	margin-top: 0;
}

#ftr {
	margin-left: 0;
	padding-left: 1.5em;
}
#ftr li {
	list-style-type: circle;
	margin-bottom: 0.1em;
}

/* product list panel */
#prodlist {
	margin: 2em 0 0 0;
}

#prodlist :link {
	color: #977F56;
}
#prodlist :visited {
	color: #6B5839;
	font-weight: bold;
}
#prodlist :link:hover, #prodlist :visited:hover {
	color: #B08A48;
}
#prodlist h2 {
	color: #554FA0;
	background-color: #EEECF6;
	background-position: center left;
	padding: 7px;
	border: dotted 1px #D6CCBD;
	border-right: 0;
	border-left: 0;
	margin-bottom: 0;
}
#prodlist dl {
	margin: 0;
}
#prodlist dt {
	margin: 0 0 0 60px;
	padding: 0.4em 0 0 0.7em;
	border-left: dotted 1px #D6CCBD;
}
#prodlist .im {
	clear: left;
	float: left;
	width: 60px;
	text-align: center;
	border: 0;
	margin: 0;
	padding: 1em 0 0.5em 0;
	}
#prodlist dd {
	margin: 0 0 0 60px;
	padding: 1px 0 0.4em 0.7em;
	border-bottom: dotted 1px #D6CCBD;
	border-left: dotted 1px #D6CCBD;
}
#prodlist dd p, #prodlist dd ul {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
#prodlist .dl {
	color: #666;
}

#prodlist dd #quotes {
	color: #896834;
}

#prodlist dd #quotes p {
	float: left;
	width: 40%;
	margin: 1em 5%;
}


/* ad */
#ad, #rhs2 {
	width: 157px;
}
#rhs2 {
	position: absolute;
	right: 10px;
	margin: 2em 0 0 0;
}
#ad {
	margin: 2em 1em;
}
#ad :link, #ad :visited, #rhs2 :link, #rhs2 :visited {
	clear: both;
}
#ad .bl img, #rhs2 .bl img {
	background: #554FA0;
}
#ad .bl img:hover, #ad .bl img:focus, #rhs2 .bl img:hover, #rhs2 .bl img:focus {
	background: #5C56AF;
}
#ad .br img, #rhs2 .br img {
	background: #A0714F;
}
#ad .br img:hover, #ad .br img:focus, #rhs2 .br img:hover, #rhs2 .br img:focus {
	background: #B17F5A;
}
#ad .bu img, #rhs2 .bu img {
	background: #6B8381;
}
#ad .bu img:hover, #ad .bu img:focus, #rhs2 .bu img:hover, #rhs2 .bu img:focus {
	background: #729390;
}
#ad .bd img, #rhs2 .bd img {
	background: #BC6055;
}
#ad .bd img:hover, #ad .bd img:focus, #rhs2 .bd img:hover, #rhs2 .bd img:focus {
	background: #DE6354;
}


/* secondlevel */
#brd {
	margin: 0 0 0.5em 0;
	position: relative;
	top: -1.5em;
	text-align: right;
	font-size: 87%;
	color: #999;
}
#brd :link, #brd :visited {
	padding: 5px;
}
#brd :link:hover, #brd :visited:hover {
	color: #fff;
	background-color: #DCC085;
}
#brd em {
	font-style: normal;
	font-weight: bold;
	color: #666;
}

#nav {
	margin: 0 0 4em 0;
	padding: 0;
	line-height: 0;
}
#nav li {
	list-style: none;
	margin: 0;

	background-image: none;
	padding: 0 0 1px 0;
	line-height: 1.0;
}
#nav :link, #nav :visited {
	font-weight: normal;
	line-height: 1.0;
	color: #955322;
	display: block;
	text-decoration: none;
	background: transparent url(../images/bg9b.gif) top right repeat-y;
	border: solid 1px #EEEAE4;
	margin: 0;
	padding: 5px 10px 5px 0.5em;
}
#nav :link:hover, #nav :visited:hover {
	color: #EC361D;
	border: solid 1px #DDD9D4;
	border-top-color: #F5F3F0;
	border-left-color: #F5F3F0;
	background: #F3F0EC;
}
#nav :link:active, #nav :visited:active {
	background: #fff;
}
#nav ul {
	margin: 0;
	padding: 0;
	background-color: #F5F2EF;
	border: solid 1px #fff;
}
#nav ul :link, #nav ul :visited {
	background-image: none;
	padding: 4px 10px 4px 1.5em;
	border: 0;
}
#nav ul :link:hover, #nav ul :visited:hover {
	background-image: none;
	border: 0;
	padding-right: 0;
}


/* generic reusable style */

.feature {
	width: 200px;
	float: left;
	margin: 0 10px 10px 10px;
	padding: 15px;
	background: #EEEAE4;
	border: double 3px #fff;
	text-align: center;
}
.feature img {
	border: solid 1px #E8E3DB;
	border-right: solid 1px #D6CBBD;
	border-bottom: solid 1px #D6CBBD;
}
.feature p {
	font-size: 80%;
	line-height: normal;
	margin: 5px 0 0 0;
	padding: 3px;
	background: #F3F0EC;
	border: solid 1px #E6E0D7;
	border-right: solid 1px #FCFBFA;
	border-bottom: solid 1px #FCFBFA;
}
.highlight {
	display: block;
	border-top: double 3px #ccc;
	border-bottom: double 3px #ccc;
	padding: 8px;
	margin: 20px 40px;
}
.highlight img {
	float: right;
	margin: 0 20px 0 20px;
}
.highlight dl {
	padding: 1em;
}
.highlight dd {
	white-space: nowrap;
}
.mice {
	font-size: 70%;
	line-height: 1.1;
	color: #999;
	margin-top: 2em;
}
.mice :link, .mice :visited {
	color: #666;
}
.linkset {
	padding: 10px;
	margin: 0 0 0.5em 0;
	background: #eee;
	border-top: double 3px #ccc;
	border-bottom: double 3px #ccc;
}
.linkset li {
	list-style-type: none;
	padding-left: 20px;
	margin: 12px;
}
.linkset .dlwin {
	background: url(../images/ico-win.png) top left no-repeat;
}
.linkset .dlosx {
	background: url(../images/ico-osx.png) top left no-repeat;
}
.linkset .dllinux {
	background: url(../images/ico-tux.png) top left no-repeat;
}
#main {
	width: 350px;
	margin-right: 170px;
}
#main img {
	margin-bottom: -1em;
}
#rhs, #rhs2 {
	position: absolute;
	left: 650px;
	top: 160px;
	width: 160px;
}
#rhs2 {
	top: 0;
}
#rhs img {
	padding-left: 35px;
	margin-bottom: -20px;
}


/*footer*/
#bn {
	clear: both;
	border-top: solid 1px #EAE6DE;
	padding: 0 0 0 0.5em;
	margin: 3em 0 0.5em 0;
	background: transparent url(../images/bg8.gif) top left repeat-y;
}
#bn li {
	list-style: none;
	display: inline;
	white-space: nowrap;
}
#bn :link, #bn :visited {
	padding: 0 1em 0 0.5em;
	background: transparent url(../images/bg8.gif) top right repeat-y;
}
#bn :visited {
	font-weight: bold;
}
#footer p {
	font-size: 73%;
	line-height: normal;
	margin: 0 0 0 1em;
}
#int {
	padding: 0 0 0 1em;
	margin: 0;
}
#int li {
	font-size: 73%;
	list-style: none;
	display: inline;
	white-space: nowrap;
}
.copyright {
	padding-bottom: 0.5em;
}


/*accessibility tweaks*/
.skipLink {
	position: absolute;
	left: -999px;
	width: 990px;
}
hr.hide {
	display: none;
}
