/*-------------------------------------------
    Local Community, Regional Pages
-------------------------------------------*/
#regions {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}
#regions li {
  padding: 0 2%;
  margin: 0 0 1.5em;
  background: none;
  width: 46%;
  float: left;
  text-align: center;
  font-weight: bold;
}
#regions li:last-child {
  width: 96%;
  clear: both;
}
#regions a img {
  display: block;
  margin: 0 auto .5em;
  max-width: 100%;
  opacity: .75;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#regions a:hover img,
#regions a:focus img {
  opacity: 1;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

#region-map {
  position: relative;
  width: 100%;
  max-width: 673px;
  float: right;
  height: 328px;
  margin: -10px auto 20px;
  background-color: #b3dae8;
  background-repeat: no-repeat;
  background-position: left top;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.4);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.4);
}
#region-map ul { list-style: none; margin: 0; padding: 0; }
#region-map li { padding: 0; margin: 0; background: none; }

#region-map.northamerica { background-image: url(/images/contribute/local/map-northamerica.png); }
#region-map.latinamerica { background-image: url(/images/contribute/local/map-latinamerica.png); }
#region-map.europe { background-image: url(/images/contribute/local/map-europe.png); }
#region-map.africamideast { background-image: url(/images/contribute/local/map-africamideast.png); }
#region-map.asia { background-image: url(/images/contribute/local/map-asia.png); }
#region-map.northpole { background-image: url(/images/contribute/local/map-northpole.png); }
#region-map.southpole { background-image: url(/images/contribute/local/map-southpole.png); }

#map-nav li { position: absolute; }
#map-nav a { display: block; text-indent: -999em; overflow: hidden; background: url(/images/contribute/local/map-nav.png) no-repeat; }
#map-nav .north, #map-nav .south { left: 50%; margin-left: -40px; width: 80px; height: 28px; }
#map-nav .east, #map-nav .west { top: 45%; margin-top: -40px; height: 80px; width: 28px; }
#map-nav .north { top: 0; }
#map-nav .east { right: 0; }
#map-nav .south { bottom: 0; }
#map-nav .west { left: 0; }
#map-nav .north a { height: 28px; background-position: center top; }
#map-nav .east a { height: 80px; background-position: right -100px; }
#map-nav .south a { height: 28px; background-position: center -200px; }
#map-nav .west a { height: 80px; background-position: left -300px; }

.tooltip { 
  background: #fab766; 
  border: 1px solid #666; 
  width: 80px; 
  padding: 6px 10px; 
  font: italic 11px/1.15 Georgia, serif; 
  color: #333; 
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px; 
  border-radius: 6px; 
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.5); 
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5); 
  box-shadow: 0 0 5px rgba(0,0,0,.5); 
}
.tooltip i { position: absolute; display: block; background: url(/images/contribute/local/tooltip-point.png) no-repeat; }
.tooltip i.n { background-position: 0 0; width: 17px; height: 10px; left: 50%; top: -9px; margin-left: -8px; }
.tooltip i.e { background-position: 0 -100px; width: 10px; height: 17px; right: -10px; top: 50%; margin-top: -9px; }
.tooltip i.s { background-position: 0 -200px; width: 17px; height: 10px; left: 50%; bottom: -10px; margin-left: -8px; }
.tooltip i.w { background-position: 100% -300px; width: 10px; height: 17px; left: -10px; top: 50%; margin-top: -9px; }

#map-sites li { position: absolute; height: 1px; width: 1px; }
#map-sites .pin { 
  display: block; 
  padding: 0 10px 0 0; 
  width: 25px; 
  height: 35px; 
  margin-left: -13px; 
  margin-top: -35px; 
  cursor: pointer; 
  background: url(/images/contribute/local/map-pin-orange.png) center center no-repeat;
}
#map-sites .mozilla .pin { background: url(/images/contribute/local/map-pin-green.png) center center no-repeat; }

#map-sites .info { 
  display: none;
  position: absolute;
  left: 20px;
  top: -35px;
  z-index: 999; 
  width: 140px;
  min-height: 50px; 
  padding: 20px 90px 1px 20px; 
  color: #fff;
  line-height: 1.2;
  background: #000; 
  background: rgba(0,0,0,.8); 
  -moz-border-radius: 9px; 
  -webkit-border-radius: 9px; 
  border-radius: 9px; 
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
#map-sites .info img { float: right; margin: -10px -80px 10px 0; }
#map-sites .info b { display: block; }
#map-sites .info a { text-transform: uppercase; font: .714em Verdana, sans-serif; color: #f59521; }

/* US and Canada */
#region-map.northamerica #site1 { left: 261px; top: 257px; } /* San Francisco, Mountain View */
#region-map.northamerica #site2 { left: 439px; top: 226px; } /* Toronto */
#region-map.northamerica #site3 { left: 255px; top: 199px; } /* Vancouver */

/* Latin America */
#region-map.latinamerica #site1 { left: 380px; top: 240px; } /* Argentina */
#region-map.latinamerica #site2 { left: 348px; top: 161px; } /* Bolivia */
#region-map.latinamerica #site3 { left: 417px; top: 134px; } /* Brazila */
#region-map.latinamerica #site4 { left: 318px; top: 87px; } /* Colombia */
#region-map.latinamerica #site5 { left: 325px; top: 235px; } /* Chile */
#region-map.latinamerica #site6 { left: 202px; top: 35px; } /* Mexico */
#region-map.latinamerica #site7 { left: 377px; top: 199px; } /* Paraguay */
#region-map.latinamerica #site8 { left: 303px; top: 131px; } /* Peru */
#region-map.latinamerica #site9 { left: 364px; top: 80px; } /* Venezuela */

/* Africa and Middle East */
#region-map.africamideast #site1 { left: 440px; top: 43px; } /* Arabic */
#region-map.africamideast #site2 { left: 237px; top: 143px; } /* Ghana */
#region-map.africamideast #site3 { left: 405px; top: 27px; } /* Israel */
#region-map.africamideast #site4 { left: 408px; top: 178px; } /* Kenya */
#region-map.africamideast #site5 { left: 179px; top: 110px; } /* Senegal */
#region-map.africamideast #site6 { left: 282px; top: 23px; } /* Tunisia */
#region-map.africamideast #site7 { left: 210px; top: 32px; } /* Morocco */
#region-map.africamideast #site8 { left: 244px; top: 42px; } /* Algeria */

/* Europe */
#region-map.europe #site1 { left: 198px; top: 186px; } /* London */
#region-map.europe #site2 { left: 366px; top: 260px; } /* Bulgaria */
#region-map.europe #site3 { left: 273px; top: 190px; } /* Germany */
#region-map.europe #site4 { left: 246px; top: 100px; } /* Norway */
#region-map.europe #site5 { left: 200px; top: 228px; } /* France */
#region-map.europe #site6 { left: 234px; top: 184px; } /* Netherlands */
#region-map.europe #site7 { left: 331px; top: 177px; } /* Poland */
#region-map.europe #site8 { left: 424px; top: 165px; } /* Russia */
#region-map.europe #site9 { left: 334px; top: 246px; } /* Serbia */
#region-map.europe #site10 { left: 178px; top: 161px; } /* UK */
#region-map.europe #site11 { left: 320px; top: 243px; } /* Balkans */
#region-map.europe #site12 { left: 209px; top: 271px; } /* Catalonia */
#region-map.europe #site13 { left: 304px; top: 207px; } /* Czech Republic */
#region-map.europe #site14 { left: 339px; top: 218px; } /* Hungary */
#region-map.europe #site15 { left: 343px; top: 269px; } /* Macedonia */
#region-map.europe #site16 { left: 410px; top: 217px; } /* Ukraine */
#region-map.europe #site17 { left: 138px; top: 299px; } /* Portugal */
#region-map.europe #site18 { left: 371px; top: 230px; } /* Romania */
#region-map.europe #site19 { left: 304px; top: 243px; } /* Slovenia */
#region-map.europe #site20 { left: 336px; top: 199px; } /* Slovakia */
#region-map.europe #site21 { left: 256px; top: 155px; } /* Denmark */
#region-map.europe #site22 { left: 279px; top: 269px; } /* Italy */
#region-map.europe #site23 { left: 162px; top: 290px; } /* Spain */
#region-map.europe #site24 { left: 490px; top: 280px; } /* Armenia */
#region-map.europe #site25 { left: 211px; top: 206px; } /* Paris, France */
#region-map.europe #site26 { left: 225px; top: 195px; } /* Belgium */
#region-map.europe #site27 { left: 324px; top: 270px; } /* Kosovo */
#region-map.europe #site28 { left: 375px; top: 131px; } /* Lietuvoje */
#region-map.europe #site29 { left: 179px; top: 262px; } /* Basque */
#region-map.europe #site30 { left: 303px; top: 256px; } /* Croatia */

/* Asia */
#region-map.asia #site1 { left: 473px; top: 47px; } /* Japan */
#region-map.asia #site2 { left: 410px; top: 66px; } /* South Korea */
#region-map.asia #site3 { left: 322px; top: 220px; } /* Indonesia */
#region-map.asia #site4 { left: 157px; top: 187px; } /* Sri Lanka */
#region-map.asia #site5 { left: 144px; top: 138px; } /* India */
#region-map.asia #site6 { left: 323px; top: 111px; } /* China */
#region-map.asia #site7 { left: 382px; top: 171px; } /* Philippines */
#region-map.asia #site8 { left: 369px; top: 121px; } /* Taiwan */
#region-map.asia #site9 { left: 467px; top: 72px; } /* Tokyo, Japan */
#region-map.asia #site10 { left: 526px; top: 302px; } /* Auckland, New Zealand */
#region-map.asia #site11 { left: 345px; top: 51px; } /* Beijing, China */


/* North Pole */
#region-map.northpole #site1 { left: 319px; top: 257px; } /* Kaffeklubben */
#region-map.northpole #site2 { left: 349px; top: 107px; } /* Research Station */

/* South Pole */
#region-map.southpole #site1 { left: 295px; top: 165px; } /* South Pole Station */
#region-map.southpole #site2 { left: 316px; top: 268px; } /* McMurdo Station */


#local-promos .half-col { 
  width: 40%;
  padding: 0 25px;
  float: left;
  background: url(/images/box-topfade.png) left top no-repeat;
}
#local-promos .right {
  float: right;
}
#local-promos .half-col .promo {
  padding: 15px 25px 10px 0;
  margin-right: -25px;
  background: url(/images/box-topfade.png) right top no-repeat;
}

#local-promos .promo a {
  display: block;
  padding: 15px 25px 5px;
  margin: -15px -25px 0;
}
#local-promos .promo a:hover,
#local-promos .promo a:focus,
#local-promos .promo a:active {
  text-decoration: none;
}
#local-promos .promo h2 { 
  margin: 0 0 .15em;
  font: bold 1.286em/1.1 MetaBold, "Trebuchet MS", sans-serif;
  color: #a5151e;
}
#local-promos .promo h2 em {
  font: italic bold 1.222em Georgia, serif;
}
#local-promos .promo p {
  color: #4b4740;
}
#local-promos .promo .more {
  font: italic bold 1.222em Georgia, serif;
  text-align: right;
  margin: -.25em 0 .25em;
  color: #148cb5;
}
#local-promos .promo .more:after {
  content: "\00A0\00BB"; /* nbsp raquo */
  font-size: 1em; 
}
#local-promos .promo a:hover .more,
#local-promos .promo a:focus .more,
#local-promos .promo a:active .more {
  text-decoration: underline;
}

#local-promos .sites {
  border-top: 1px solid #eee;
  padding: 10px 0 0 0;
}
#local-promos .sites h3 {
  margin: 0 0 .5em 90px;
  padding: 0 5px;
  font: bold 1.214em/1.1 MetaBold, "Trebuchet MS", sans-serif;
}
#local-promos .site-list {
  list-style: none; 
  margin: 0 0 1em 90px;
  line-height: 1.2;
}
#local-promos .site-list li {
  padding: 0 0 4px 25px;
  margin: 0 0 .25em;
}
#mozilla-spaces .site-list li {
  background: url(/images/contribute/local/map-pin-green-sm.png) 0 0 no-repeat;
}
#local-sites .site-list li {
  background: url(/images/contribute/local/map-pin-orange-sm.png) 0 0 no-repeat;
}
#local-promos .site-list a {
  display: block;
}

#local-promos .pic {
  float: left;
  margin: -10px 10px 40px -30px;
  clear: both;
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}
#local-promos .tilt-right {
  -moz-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
}
#local-promos .tilt-left {
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
