#namoroka-header { padding:35px 0 0 274px; min-height:260px; background:url(/images/NamorokaLemur.png) no-repeat 0 0;}
#namoroka-header h1 { margin-bottom:0; }
#namoroka-header p { font-size:1.5em;font-family:Georgia, serif;line-height:1.75;margin-bottom:.5em;}
#namoroka-header form { position:relative;left:-5px; margin-bottom: 25px;}
.left {float:left; margin: 10px 10px 10px;}
#side .module {margin: 0 0 20px 0;}
