#parks-header h1 { margin-bottom:0; }
#parks-header p { font-size:1.5em;font-family:Georgia, serif;line-height:1.75;margin-bottom:.5em; }
#parks-header form { position:relative;left:-5px; margin-bottom: 25px; }
#side .module {margin: 0 0 20px 0px; }
#map_canvas { border:1px solid black; }
#release { width:260px; }
#release p { margin:0px 0 0 10px; font-size: 75%; }
#release img { margin-left:5px; }
#release li { margin:-20px 0 40px 40px; }
#photos img { display: block; margin-left: auto; margin-right: auto; }
.left {float:left; margin: 10px 10px 10px; }
.caption { margin-top:10px; font-size:75%; color:#899F43; }
