.productlist {
    margin: 0;
    padding: 0 0 0 5px;
}

.productlist li {
    clear: left;
    list-style: none;
    padding: 0 0 1em 0;
    margin-left: 0;
    background: none;
}

.productlist h3 {
    margin: 0 0 0.2em 0;
    font-family: inherit;
    font-size: 1em;
}

.productlist img {
    float: left;
    margin: 0 15px 1em 0;
}

#main-content.projects h2 { 
  font-size: 20px;
  margin: 1em 0 .25em;
}

#main-content.projects h2 + p {
  font-style: italic;
}

#main-content.projects ul + p {
  margin-left: 70px;
}
