#universe-intro {
    margin: 0;
}

#universe-graph {
	position: relative;
	margin: 0 auto;
	min-height: 400px;
}

#universe-footnote {
    font-size: 11px;
    color: #999;
}

#universe-graph .node {
	white-space: nowrap;
	font-family: sans-serif;
	text-align: center;
	font-size: 13px;
	overflow: hidden;
	padding: 3px 8px;
	margin: -0.75em 0 0;
	border: 2px solid #aaa;
	background:#fff;

	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;

	box-shadow:
		0 2px rgba(0, 0, 0, 0.05),
		0 -2px rgba(0, 0, 0, 0.05) inset;

	-webkit-box-shadow:
		0 2px rgba(0, 0, 0, 0.05),
		0 -2px rgba(0, 0, 0, 0.05) inset;

	-moz-box-shadow:
		0 2px rgba(0, 0, 0, 0.05),
		0 -2px rgba(0, 0, 0, 0.05) inset;

	background:
		-moz-linear-gradient(
			center top,
			rgba(255, 255, 255, 0) 50%,
			rgba(0, 0, 0, 0.03) 0%
		) repeat scroll 0 0 #fff;

	background:
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(#fff),
			to(rgba(0, 0, 0, 0.03)),
			color-stop(0.5, rgba(255,255,255,0)),
			color-stop(0.5, rgba(0, 0, 0, 0.03))
		) repeat scroll 0 0 #fff;

	border: 1px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

#universe-graph .node:hover {
	background: #eee;
	border-color: rgba(0, 0, 0, 0.3);
}

#universe-graph .node.selected {
	z-index: 6;
	border-color: rgba(208, 91, 63, 0.6);

	box-shadow:
		0 2px rgba(0, 0, 0, 0.05),
		0 1px 7px rgba(208, 91, 63, 0.5),
		0 -2px rgba(0, 0, 0, 0.05) inset;

	-webkit-box-shadow:
		0 2px rgba(0, 0, 0, 0.05),
		0 1px 7px rgba(208, 91, 63, 0.5),
		0 -2px rgba(0, 0, 0, 0.05) inset;

	-moz-box-shadow:
		0 2px rgba(0, 0, 0, 0.05),
		0 1px 7px rgba(208, 91, 63, 0.5),
		0 -2px rgba(0, 0, 0, 0.05) inset;
}

#universe-graph .node h5 {
	font-family: sans-serif;
	display: block;
	float: left;
	margin: 0;
	background: none;
	color: inherit;
}

#universe-graph .node .logo {
	display: block;
	position: relative;
	margin: 0;
	float: left;
}

#universe-graph .node img {
	width: 16px;
	height: 16px;
	border: none;
	display: block;
	padding: 0 4px 0 0;
}

/* Special Root Node Styles */

#universe-graph .level-0.visible-level-0 {
	margin-top: -1.25em;
}

#universe-graph .level-0 {
	text-align: center;
}

#universe-graph .level-0 h5,
#universe-graph .level-0 .logo {
	float: none;
    font-weight: bold;
}

#universe-graph .level-0 img {
	padding: 0;
	margin: 3px auto 0 auto;
	height: 20px;
	width: 24px;
}

/* Informational-level coloring */
#universe-graph .level-0 h5 {
	color: #d05b3f;
}
#universe-graph .level-1 h5 {
	color: #148cb5;
}
#universe-graph .level-2 h5 {
	color: #298eb1;
}
#universe-graph .level-3 h5 {
	color: #4a91aa;
}
#universe-graph .level-4 h5 {
	color: #6b94a2;
}
#universe-graph .level-5 h5 {
	color: #8c979c;
}
#universe-graph .level-6 h5 {
	color: #999;
}

/* Visible-level styling */
#universe-graph .visible-level-0,
#universe-graph .visible-level-1 {

}

#universe-graph .visible-level-2 {
	background: -webkit-gradient(
		radial,
		50% 50%, 0,
		50% 50%, 30,
		from(#fff),
		to(rgba(255,255,255,0))
	);

	background: -moz-radial-gradient(
		center 0deg,
		ellipse closest-side,
		#fff 0%,
		rgba(255,255,255,0) 100%
	);

	border: none;

	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#universe-graph .visible-level-2 img {
	display: none;
}
#universe-graph .visible-level-2 h5 {
	font-size: 85%;
}
#universe-graph .visible-level-2:hover {
	background: -webkit-gradient(
		radial,
		50% 50%, 0,
		50% 50%, 30,
		from(#fff),
		to(rgba(255,255,255,0))
	);

	background: -moz-radial-gradient(
		center 0deg,
		ellipse closest-side,
		#fff 0%,
		rgba(255,255,255,0) 100%
	);
}

#universe-graph .visible-level-2,
#universe-graph .visible-level-3,
#universe-graph .visible-level-4,
#universe-graph .visible-level-5,
#universe-graph .visible-level-6,
#universe-graph .visible-level-7 {
	display: none;
}

#universe-graph .visible-level-0 {
	z-index: 5;
}
#universe-graph .visible-level-1 {
	z-index: 4;
}
#universe-graph .visible-level-2 {
	z-index: 3;
}

/* panel */
#universe-panel {
	display: none;
	font-size: 50%;
	background: #fff8d8;
	background: -moz-linear-gradient(
		center top,
		#fff8d8 50%,
		#faf3d1 0%
	) repeat scroll 0 0 #fff8d8;
    background: rgba(0,0,0,0.8);
    color: #fff;
	z-index: 10;
	padding: 0;
	left: 430px;
	position: absolute;
	right: 1em;
	width: 275px;
	max-height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-bottom-color: rgba(0, 0, 0, 0.15);
	border-right-color: rgba(0, 0, 0, 0.15);

	box-shadow: 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);

	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 5px 8px;
}

#universe-panel h3 {
	font-family: Georgia, serif;
	font-size:16px;
	color:#fff;
    margin: 0;
	text-transform:none;
    font-weight: normal;
}

#universe-panel .panel-link {
	display:block;
	color:#d05b3f;
	text-transform:uppercase;
	font-family:"Trebuchet MS", sans-serif;
	font-size:10px;
	margin: 0;
}
#universe-panel p a {
	color: #d05b3f;
}

#universe-panel a.toggler { display:block; margin:.5em .25em; }

#universe-panel p {
	font-size: 11px;
	margin: 0;
}

#universe-panel img { display: block; float: right; padding-top: 3px; width:64px; height:64px; }

/* for templated universe page */
.mozilla-universe { position:relative;  font-family:Georgia, serif; min-height:400px; }
.mozilla-universe #universe-graph { width:80%; }
