Redirect permanent /projects/nspr/eng-process/release.html http://developer.mozilla.org/en/NSPR_Release_Engineering_Guide
Redirect permanent /projects/nspr/eng-process/build.html http://developer.mozilla.org/en/Checkout_and_Build_NSPR
