Redirect permanent /foundation/EULA/ http://www.mozilla.com/legal/eula/
Redirect permanent /foundation/eula.html http://www.mozilla.com/legal/eula/
Redirect permanent /foundation/activities.html http://www.mozilla.org/foundation
Redirect permanent /foundation/partnerships.html http://www.mozilla.com/en-US/about/partnerships.html
Redirect permanent /foundation/identity-guidelines/firefox.html http://www.mozilla.com/en-US/about/logo/
Redirect permanent /foundation/identity-guidelines/firefox-128.png http://www.mozilla.com/en-US/about/logo/download.html
Redirect permanent /foundation/identity-guidelines/firefox-128-onblack.png http://www.mozilla.com/en-US/about/logo/download.html
Redirect permanent /foundation/identity-guidelines/firefox-wordmark-horizontal.png http://www.mozilla.com/en-US/about/logo/download.html
Redirect permanent /foundation/identity-guidelines/firefox-wordmark-vertical.png http://www.mozilla.com/en-US/about/logo/download.html

