div.category {
  margin-left: 20px;
}

.figure {
  border: 2px solid #808080;
  background-color: #F9F9F9;
  margin: 10px;
}  

.figure-caption {
  background-color: #808080;
  border-bottom: 1px dashed #F9F9F9;
  color: #FFFFFF;
  padding: 4px;
} 

.figure-body {
  padding: 10px 15px 10px 15px;
}

.figure-body pre {
  font-family: Courier New, Courier, monospace;
  font-size: small;
}

.notes {
  font-size: small;
  margin-left: 20px;
}

.notes-table {
  border: 1px solid #808080;
  background-color: #F9F9F9;
  padding: 5px;
  font-size: small;
  margin: 5px;
}

