.authority
{
  background-color: #eef;
  border: 1px grey solid;
  margin: 1em;
  padding: 1em;
}

.authority h2
{
  margin: 0px;
  padding: 5px;
  background-color: #ccf;
  border-top: 1px lightgrey solid;
  border-bottom: 1px lightgrey solid;
}

.certificate
{
  background-color: #aaf;
  border: 1px grey solid;
  margin: 1em;
  padding: 1em;
}

.certificate h3
{
  margin: 0px;
  padding: 5px;
  background-color: #ccf;
  border-top: 1px lightgrey solid;
  border-bottom: 1px lightgrey solid;
}

.certificate table td:first-child
{
  padding-right: 1em;
}

tr.trustbits ul {
  margin: 0px; 
  padding: 0px; 
  padding-left: 1em
}
