Redirect permanent /contact/moz-office-map.html http://www.mozilla.org/contact/
Redirect permanent /contact/moz-office-map.gif http://www.mozilla.org/contact/
Redirect permanent /contact/moz-office-map.png http://www.mozilla.org/contact/
