Redirect permanent /MPL/mozilla-relicense-faq.html http://www-archive.mozilla.org/MPL/relicensing-faq.html
Redirect permanent /MPL/mozilla-relicensing-faq.html http://www-archive.mozilla.org/MPL/relicensing-faq.html
Redirect permanent /MPL/mpl-faq.html                http://www.mozilla.org/MPL/1.1/FAQ.html
Redirect permanent /MPL/FAQ.html                    http://www.mozilla.org/MPL/1.1/FAQ.html

Redirect permanent /MPL/annotated-header.html       http://www.mozilla.org/MPL/1.0/annotated/header.html
Redirect permanent /MPL/annotated.html              http://www.mozilla.org/MPL/1.0/annotated/
Redirect permanent /MPL/annotations-0.90.html       http://www.mozilla.org/MPL/NPL/0.9/annotated/annotations.html
Redirect permanent /MPL/annotations-1.0.html        http://www.mozilla.org/MPL/1.0/annotated/annotations.html
Redirect permanent /MPL/LICENSE-0.90-annotated.html http://www.mozilla.org/MPL/NPL/0.9/annotated/
Redirect permanent /MPL/LICENSE-0.90.html           http://www.mozilla.org/MPL/NPL/0.9/
Redirect permanent /MPL/LICENSE-0.90.txt            http://www.mozilla.org/MPL/NPL/0.9/index.txt
Redirect permanent /MPL/MPL-0.95.html               http://www.mozilla.org/MPL/0.95/
Redirect permanent /MPL/MPL-0.95.txt                http://www.mozilla.org/MPL/0.95/index.txt
Redirect permanent /MPL/MPL-1.0-annotated-fs.html   http://www.mozilla.org/MPL/1.0/annotated/
Redirect permanent /MPL/MPL-1.0-annotated-header.html http://www.mozilla.org/MPL/annotated/header.html
Redirect permanent /MPL/MPL-1.0-annotated.html      http://www.mozilla.org/MPL/1.0/annotated/annotated.html
Redirect permanent /MPL/MPL-1.0.html                http://www.mozilla.org/MPL/1.0/
Redirect permanent /MPL/MPL-1.0.txt                 http://www.mozilla.org/MPL/1.0/index.txt
Redirect permanent /MPL/MPL-1.1-annotated.html      http://www.mozilla.org/MPL/1.1/annotated/
Redirect permanent /MPL/MPL-1.1-FAQ.html            http://www.mozilla.org/MPL/1.1/FAQ.html
Redirect permanent /MPL/MPL-1.1.html                http://www.mozilla.org/MPL/1.1/
Redirect permanent /MPL/MPL-1.1.txt                 http://www.mozilla.org/MPL/1.1/index.txt
Redirect permanent /MPL/NPL-0.95.html               http://www.mozilla.org/MPL/NPL/0.95/
Redirect permanent /MPL/NPL-0.95.txt                http://www.mozilla.org/MPL/NPL/0.95/index.txt
Redirect permanent /MPL/NPL-1.0-annotated.html      http://www.mozilla.org/MPL/NPL/
Redirect permanent /MPL/NPL-1.0-FAQ.html            http://www.mozilla.org/MPL/NPL/1.0/FAQ.html
Redirect permanent /MPL/NPL-1.0.html                http://www.mozilla.org/MPL/NPL/1.0/
Redirect permanent /MPL/NPL-1.0M-FAQ.html           http://www.mozilla.org/MPL/NPL/1.0M/FAQ.html
Redirect permanent /MPL/NPL-1.0M.html               http://www.mozilla.org/MPL/NPL/1.0M/
Redirect permanent /MPL/NPL-1.0.txt                 http://www.mozilla.org/MPL/NPL/1.0/index.txt
Redirect permanent /MPL/NPL-1.1.html                http://www.mozilla.org/MPL/NPL/1.1/
Redirect permanent /MPL/NPL-1.1.txt                 http://www.mozilla.org/MPL/NPL/1.1/index.txt
