AddDefaultCharset UTF-8
LanguagePriority en
ForceLanguagePriority Prefer Fallback
Options +MultiViews
DirectoryIndex index
DefaultLanguage en

Redirect permanent /about/get-involved.html http://www.mozilla.org/contribute/
Redirect permanent /about/stafflist.html http://www.mozilla.org/about/staff
Redirect permanent /about/stafflist http://www.mozilla.org/about/staff
Redirect permanent /about/mozilla-manifesto.html http://www.mozilla.org/about/manifesto
Redirect permanent /about/mozilla-manifesto http://www.mozilla.org/about/manifesto
Redirect permanent /about/manifesto/ http://www.mozilla.org/about/manifesto

RewriteEngine on
RewriteBase /about
RewriteRule ^mission$ ../mission
