body {
    font-family: verdana;
    margin: 0;
    min-width: 990px;
    padding: 0;
    text-align: center;
}
#nav-access {
    display: none;
}
#doc {
    margin: auto;
    position: relative;
    text-align: left;
    width: 980px;
    z-index: 1;
}
[dir="rtl"] #doc {
    text-align: right;
}
#doc:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#wrapper {
    min-width: 980px;
}
.hide {
    display: none;
}
body {
    background: url("/thunderbird/img/tb5/page-background.png") repeat-x scroll 50% 0 #FFFFFF;
    border-top: 2px solid #686868;
}
#header {
    height: 57px;
    margin: 0 10px;
    text-align: center;
}
#header h1 {
    float: left;
    margin: 0;
}
#header h1 a, #header h1 a:link, #header h1 a:visited {
    -moz-transition: background 0.2s ease-in-out 0s;
    background: url("http://mozcom-cdn.mozilla.net/img/covehead/template/title.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 1px;
    height: 61px;
    overflow: hidden;
    text-indent: -500px;
    width: 160px;
}
#footer h3 a:hover, #footer h3 a:active {
    -moz-transition: background 0.2s ease-in-out 0s;
    background: -moz-radial-gradient(center center 45deg, ellipse closest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0%, url("http://mozcom-cdn.mozilla.net/img/template/header-logos.png") no-repeat scroll 15px 0 transparent;
}
#nav-main {
    display: inline-block;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
#nav-main li {
    list-style: none outside none;
}
#nav-main ul {
    float: left;
    left: auto;
    margin: 0;
    padding: 0;
    z-index: 99;
}
#nav-main li {
    background: none repeat scroll 0 0 transparent;
    float: left;
    margin: 0 0 0 -1px;
    padding: 0;
    position: relative;
    z-index: 100;
}
#nav-main ul li a, #nav-main ul li a:link, #nav-main ul li a:visited, #nav-main ul li span {
    border-color: #98B2C9;
    border-style: solid;
    border-width: 0 1px;
    color: #484848;
    display: block;
    float: left;
    height: 18px;
    padding: 15px 30px 10px 10px;
    position: relative;
    text-decoration: none;
    z-index: 100;
}
#nav-main ul li.current.last a {
    border-color: #98B2C9;
}
#nav-main ul li a:hover, #nav-main ul li:hover a, #nav-main ul li.hover a, #nav-main ul li.hover a:link, #nav-main ul li.hover a:visited {
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.2s;
    -moz-transition-property: background, box-shadow, border-right;
    -moz-transition-timing-function: linear;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(152, 178, 201, 0.2), 0 -6px 20px 10px rgba(255, 255, 255, 0.8) inset;
    outline: 0 none;
    padding-bottom: 15px;
}
#nav-main ul li.last a, #nav-main ul li.last span {
    border-right-color: transparent;
}
#nav-main ul li.last a:hover, #nav-main ul li.last a:focus, #nav-main ul li.last a:active, .js #nav-main ul li.last a:focus, #nav-main ul li.hover a {
    border-right-color: #98B2C9;
}
#nav-main li:hover ul, .js #nav-main li.hover ul {
    -moz-transition: opacity 0.2s ease-in-out 0s;
    left: 0;
    margin-top: 47px;
    opacity: 1;
}
#nav-main ul ul, #nav-main ul ul li {
    border: 0 none;
    float: none;
    height: auto;
}
#nav-main ul ul {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: 1px solid #98B2C9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 2px 0 rgba(152, 178, 201, 0.2), 0 -2px 0 rgba(152, 178, 201, 0.3) inset;
    left: -999em;
    opacity: 0;
    position: absolute;
    text-shadow: 1px 1px 0 #FFFFFF, 0 0 5px #FFFFFF;
    width: 190px;
    z-index: 99;
}
#nav-main ul ul li {
    box-shadow: 0 -1px 0 0 rgba(152, 178, 201, 0.2) inset;
    margin-left: 0;
}
#nav-main ul ul li a, #nav-main ul ul li a:link, #nav-main ul ul li a:visited, #nav-main ul ul li span {
    -moz-transition: background 0.1s ease-in 0s;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-shadow: none;
    display: block;
    float: none;
    font-size: 10px;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 8px 10px;
    position: relative;
}
#nav-main ul ul li a:hover, #nav-main ul ul li a:focus, #nav-main ul ul li a:active, .js #nav-main ul ul li a:focus, #nav-main ul li.current ul li a:hover, #nav-main ul li.current ul li a:focus, #nav-main ul li.current ul li a:active, .js #nav-main ul li.current ul li a:focus {
    -moz-transition: background 0.1s ease-out 0s;
    background: none repeat scroll 0 0 rgba(152, 178, 201, 0.2);
    box-shadow: 0 2px 0 rgba(152, 178, 201, 0.3) inset, 0 0 3px 2px rgba(152, 178, 201, 0.2) inset;
}
#nav-main ul li:hover ul li a, #nav-main ul li.hover ul li a:link, #nav-main ul li.hover ul li a:visited {
    padding-bottom: 8px;
}
#nav-main ul li.current span, #nav-main ul li.current a, #nav-main ul li.current a:link, #nav-main ul li.current a:visited {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%) repeat scroll 0 0 transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-width: 1px;
    box-shadow: 0 0 0 rgba(152, 178, 201, 0.2), 0 -2px 0 rgba(152, 178, 201, 0.3) inset, 0 -6px 6px 4px rgba(255, 255, 255, 0.8) inset;
    padding-bottom: 15px;
    padding-right: 30px;
}
#nav-main ul li.current:hover a, #nav-main ul li.current.hover a, #nav-main ul li.current a:hover, #nav-main ul li.current a:focus, #nav-main ul li.current a:active, .js #nav-main ul li.current a:focus {
    border-bottom: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: none;
}
#nav-main ul li.current ul span, #nav-main ul li.current ul a, #nav-main ul li.current ul a:link, #nav-main ul li.current ul a:visited {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    height: auto;
    padding: 8px 10px;
}
#header a.mozilla {
    background: url("http://mozcom-cdn.mozilla.net/img/covehead/template/title.png") no-repeat scroll 100% 0 transparent;
    display: block;
    float: right;
    height: 49px;
    overflow: hidden;
    position: relative;
    text-indent: -200px;
    width: 118px;
}
#sub-footer {
    background: url("http://mozcom-cdn.mozilla.net/img/template/footer-background.png") repeat-x scroll center top #3D6DB5;
    clear: both;
    color: #476FBE;
}
#sub-footer #sub-footer-contents {
    margin: auto;
    text-align: left;
    width: 980px;
}
#sub-footer h3 {
    background: url("http://mozcom-cdn.mozilla.net/img/template/footer-social.png") no-repeat scroll 50% 0 transparent;
    color: #33559B;
    float: left;
    font-family: georgia,serif;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    height: 100px;
    line-height: 22px;
    margin: 115px 0 10px;
    padding: 15px 0 0 25px;
    width: 126px;
}
#sub-footer h3 span {
    color: #FFFFFF;
    font-family: MetaBlack,"Trebuchet MS",sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}
#sub-footer ul {
    float: left;
    left: auto;
    margin: 100px 0 0;
}
#sub-footer ul li {
    background: none repeat scroll 0 0 transparent;
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
}
#sub-footer ul li a, #sub-footer ul li a:link, #sub-footer ul li a:visited {
    -moz-transition: text-shadow 0.2s ease-out 0s;
    background: url("http://mozcom-cdn.mozilla.net/img/template/footer-social.png") no-repeat scroll 50% 0 transparent;
    color: #FFFFFF;
    display: block;
    font-family: georgia,serif;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    line-height: 18px;
    padding: 60px 0 0;
    text-align: center;
    width: 110px;
}
#sub-footer a:hover, #sub-footer a:active {
    -moz-transition: text-shadow 0.1s ease-out 0s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 5px #33559B, 0 0 20px rgba(255, 255, 255, 0.6);
}
#sub-footer ul {
    background-position: 50% -115px;
    margin-bottom: 30px;
}
#sub-footer ul li#footer-twitter a {
    background-position: 50% -115px;
}
#sub-footer ul li#footer-facebook a {
    background-position: 50% -215px;
}
#sub-footer ul li#footer-connect a {
    background-position: 50% -315px;
}
#sub-footer #sub-footer-newsletter {
    background: url("http://mozcom-cdn.mozilla.net/img/template/footer-social.png") no-repeat scroll 30% -412px transparent;
    float: right;
    line-height: 1em;
    margin: 0 32px 0 0;
    padding: 135px 0 0;
    text-align: left;
}
#sub-footer #sub-footer-newsletter span.intro {
    color: #FFFFFF;
    display: block;
    font-family: georgia,serif;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    line-height: 18px;
}
#footer {
    background: url("http://mozcom-cdn.mozilla.net/img/template/footer-background.png") repeat-x scroll -200px center #33559B;
    clear: both;
    color: #476FBE;
    padding: 5px 0;
    text-align: center;
}
#footer a:link, #footer a:visited {
    -moz-transition: color 0.1s ease-in 0s;
    color: #669BE1;
    text-decoration: none;
}
#footer a:hover, #footer a:active {
    -moz-transition: color 0.1s ease-out 0s;
    color: #FFFFFF;
    text-decoration: underline;
}
#footer-contents {
    margin: auto;
    text-align: left;
    width: 980px;
}
#footer-contents[dir="rtl"] {
    text-align: right;
}
#footer h3 a, #footer h3 a:link, #footer h3 a:visited {
    background: url("http://mozcom-cdn.mozilla.net/img/covehead/template/footer-title.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 1px;
    height: 40px;
    overflow: hidden;
    text-indent: -200px;
    width: 100px;
}
#footer-logo {
    display: inline;
    float: left;
    margin: 15px 50px 0 10px;
}
#footer-logo a, #footer-logo a:link, #footer-logo a:visited {
    font-size: 28px;
    padding: 0;
}
#footer-menu, #footer-menu ul {
    left: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer-menu li {
    background: none repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    font-weight: bold;
    list-style-type: none;
    margin: 15px 10px 0 0;
    padding: 0;
    position: relative;
    width: 115px;
}
#footer-menu li a, #footer-menu li a:link, #footer-menu li a:visited, #footer #lang_form label {
    color: #FFFFFF;
    font-family: MetaBlack,TrechuchetMS,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#footer li li a:link, #footer li li a:visited {
    color: #669BE1;
    font-family: georgia,serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
}
#footer li li a:hover, #footer li li a:active {
    color: #FFFFFF;
}
#footer-menu ul li ul {
    margin: 4px 0 15px;
}
#footer-menu li.last {
    margin-right: 0;
}
#footer-menu ul ul li {
    display: block;
    float: none;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0.3em;
    width: auto;
}
#footer #footer-right {
    float: right;
    width: 175px;
}
#footer #lang_form {
    margin: 0 0 15px 22px;
}
#footer #lang_form label {
    display: block;
    margin: 10px 0 4px;
}
#footer #lang_form select {
    font-family: sans-serif;
    width: 140px;
}
#footer #lang_form div {
    display: inline;
}
#footer #copyright {
    clear: both;
}
#footer #copyright p {
    font-size: 85%;
    margin-bottom: 0.5em;
}
#footer #copyright a:hover, #footer #copyright a:active {
    text-decoration: underline;
}
#footer #footer-links {
    font-size: 85%;
}
.portal-page #footer {
    background: url("http://mozcom-cdn.mozilla.net/img/template/footer-background-minimal.png") repeat-x scroll 0 0 #FFFFFF;
    clear: both;
    color: #999999;
    padding: 100px 0 20px;
    text-align: center;
}
.portal-page #footer a:hover, .portal-page #footer a:active {
    color: #447BC4;
}
#side-menu {
    font-family: verdana;
    font-size: 80%;
    left: auto;
    line-height: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 35px;
    top: 75px;
    width: 170px;
}
#side-menu li {
    background: url("http://mozcom-cdn.mozilla.net/img/tignish/template/side-menu-divider.png") no-repeat scroll center top transparent;
    list-style-type: none;
    margin: 0;
    padding: 7px 3px 5px 5px;
}
#side-menu li.first {
    background: none repeat scroll 0 0 transparent;
}
#side-menu li ul {
    left: auto;
    margin: 5px 0 0;
}
#side-menu li ul li {
    padding-left: 8px;
}
#side-menu span {
    color: #FFFFFF;
    font-weight: bold;
}
#side-menu h3 span {
    font-weight: normal;
}
#side-menu h3 {
    color: #FFFFFF;
    margin: 0;
}
#side-menu a:link, #side-menu a:visited {
    color: #1E4262;
}
#side-menu a:hover, #side-menu a:active {
    color: #1E4262;
}
#breadcrumbs {
    color: #303030;
    margin: 15px 10px 20px 25px;
}
#breadcrumbs b {
    font-size: 120%;
    font-weight: bold;
}
#breadcrumbs a.home {
    background: url("http://mozcom-cdn.mozilla.net/img/template/breadcrumb-home.png") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 13px;
    line-height: 50px;
    margin: 5px 5px 0 0;
    overflow: hidden;
    width: 15px;
}
#main-content {
    margin: 0 20px;
}
#content {
    margin: 0 20px;
}
#main-content, #main-feature {
    font-size: 130%;
}
#sub-footer-newsletter .email-form .email-open, .email-form .email-open {
    -moz-transform: rotate(90deg);
    background: -moz-linear-gradient(left center , #BAD3F1, #BAD3F1 30%, #7EAAE7) repeat scroll 0 0 transparent;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -2px 0 1px #6A95CC inset, 2px 0 0 rgba(0, 0, 0, 0.1);
    color: #4878BF;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    height: 24px;
    line-height: 1.1;
    text-align: center;
    text-shadow: 1px 0 2px rgba(255, 255, 255, 0.5), 1px 0 1px rgba(255, 255, 255, 0.4);
    width: 26px;
}
.email-form .email-open.opened {
    box-shadow: -2px 0 1px #6A95CC inset, 2px 0 0 rgba(0, 0, 0, 0.2);
    cursor: default;
    opacity: 0.5;
}
.email-form ul.error .email-open:active, .email-form ul.error .email-open:focus, .email-form .email-open.opened:active, .email-form .email-open.opened:focus {
    outline: medium none;
}
.email-form ul.error .form-pane {
    display: block;
}
.form-pane .form-details, .success-pane p {
    color: #555555;
    font-size: 14px;
    line-height: 1.2;
}
#firstrun .form-pane .form-details {
    margin-left: 240px;
}
.success-pane p {
    padding: 10px 0;
}
.form-pane, .success-pane {
    clear: left;
    position: relative;
}
.success-pane h3 {
    font-style: italic;
    font-weight: normal;
    margin: 0;
}
.success-pane h3 img {
    position: absolute;
    right: 0;
    top: -12px;
}
.form-pane p.intro {
    float: left;
    font-size: 13px;
    margin: 5px 0 0 50px;
    width: 170px;
}
#firstrun .form-pane p.footnote, #whatsnew #sidebar .form-pane p.footnote {
    color: #999999;
}
#whatsnew #sidebar .form-pane p.footnote {
    font-size: 10px;
    margin: 0;
}
.footnote {
    font-size: 12px;
    padding: 5px 0;
}
.email-form select.country, .email-form input.email {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    padding: 3px;
}
.email-form input.email {
    border-color: #AAAAAA #CDCDCD #CDCDCD #AAAAAA;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    width: 218px;
}
#whatsnew .email-form input.email {
    width: 200px;
}
.email-form input.email:-moz-placeholder {
    color: #999999;
}
.email-form input.email.placeholder {
    color: #999999;
}
.email-form input.email:focus {
}
.form-pane .country-field {
    padding: 12px 2px 2px;
}
.email-form select.country {
    border-color: #CDCDCD #AAAAAA #AAAAAA #CDCDCD;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #555555;
    font-size: 14px;
    width: 225px;
}
#whatsnew .email-form select.country {
    width: 208px;
}
.email-form .form-pane input.subscribe {
    background: -moz-linear-gradient(center top , #669BE1 0%, #5784BF 100%) repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1), 0 -3px 0 rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    margin: 10px 0 0 2px;
    padding: 6px 32px 8px;
    white-space: nowrap;
}
.email-form .form-pane input.subscribe:hover {
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1), 0 -3px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 80px rgba(0, 0, 0, 0.1) inset;
}
.email-form .form-pane input.subscribe:active {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 -3px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 80px rgba(0, 0, 0, 0.1) inset;
    position: relative;
    top: 1px;
}
.email-form .form-pane label {
    display: block;
    padding: 10px 0 0;
}
#meil-form .form-pane label input {
    vertical-align: middle;
}
.email-form .form-pane .form-error input.email {
    border-color: #CC4927;
    border-width: 2px;
    padding: 2px;
}
.email-form .error-wrapper, #email-form .error-wrapper {
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    padding: 2px;
}
.email-form .form-pane label.privacy-check-label a {
    text-decoration: underline;
}
#whatsnew #sidebar .email-form p.form-error, .email-form p.form-error, #email-form p.form-error {
    background: none repeat scroll 0 0 #B11A04;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: none;
    font-family: MetaWebPro-Book,sans-serif;
    font-size: 13px;
    left: 475px;
    padding: 7px 13px;
    position: absolute;
    text-shadow: none;
    top: -30px;
    width: 150px;
    z-index: 1000;
}
#whatsnew #sidebar .email-form p.form-error {
    left: 217px;
}
.email-form p.form-error-visible {
    display: block;
}
.email-form .format-field {
    padding-top: 10px;
}
.email-form .form-pane .privacy-field {
    clear: left;
    font-size: 12px;
}
.email-form .radio-wrapper {
    display: inline-block;
    float: left;
    line-height: 0.8;
    margin: 0;
    padding: 1px 4px;
}
.email-form .form-pane .format-field label {
    float: left;
    margin: 0 12px 0 0;
    padding: 0;
    width: auto;
}
.email-form .form-pane .format-field input {
    float: none;
    margin: 0 4px;
    width: auto;
}
.error-email .email-error, .error-email #email-error {
    display: block !important;
}
.error-privacy .privacy-error, .error-privacy #privacy-error {
    display: block !important;
}
.error-email .email-field .error-wrapper, .error-email #email-field .error-wrapper {
    background: none repeat scroll 0 0 #B11A04;
}
.error-privacy .privacy-field .error-wrapper, .error-privacy #privacy-field .error-wrapper {
    background: none repeat scroll 0 0 #EB7A6B;
    border-color: #B11A04;
}
.success .open-pane, .success #open-pane {
    display: none !important;
}
.success .form-pane, .success #form-pane {
    display: none !important;
}
.success .success-pane, .success #success-pane {
    display: block !important;
}
.success-pane, #success-pane, .form-pane {
    display: none;
}
#sub-footer #newsletter {
    overflow: visible;
    position: relative;
}
#sub-footer #newsletter .success-pane p {
    color: white;
}
#sub-footer .form-pane {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 15px;
    position: absolute;
    top: 55px;
    z-index: 20;
}
#sub-footer #newsletter p {
    color: white;
    max-width: 300px;
}
#sub-footer .email-form p.form-error {
    color: white !important;
    position: static;
}
#sub-footer #newsletter, #sub-footer #newsletter p, #sub-footer .form-pane p, #sub-footer .form-pane, #sub-footer .form-pane .form-details {
    color: black;
}
#sub-footer #newsletter ul, #sub-footer #newsletter ul li {
    color: white;
    float: none;
    list-style: none outside none;
    margin: 0;
}
#sub-footer #newsletter h3 {
    background: none repeat scroll 0 0 transparent;
    color: white;
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}
#sub-footer #newsletter .privacy-field a {
    background: none repeat scroll 0 0 transparent;
    display: inline;
    font-size: 12px;
}
#sub-footer #newsletter a, #sub-footer #newsletter a:link, #sub-footer #newsletter a:visited {
    color: black;
    font-family: Georgia,serif;
    font-style: normal;
    margin: 0;
    padding: 2px 1px;
}
#sub-footer #newsletter a:hover {
    text-decoration: none;
    text-shadow: none;
}
#sub-footer #newsletter a.email-open {
    color: #4878BF;
    text-align: center;
}
.clear {
    clear: both;
}
body {
    color: #6D7581;
    font-family: georgia,serif;
    font-size: 13px;
    line-height: 1.231;
}
a:link, a:visited {
    color: #447BC4;
    text-decoration: none;
}
a:hover, a:active {
    color: #447BC4;
    text-decoration: underline;
}
a.external:link, a.external:visited {
    padding-right: 8px;
}
a.external:hover, a.external:active {
    background: url("http://mozcom-cdn.mozilla.net/img/tignish/content/external-link.png") no-repeat scroll right center transparent;
    padding-right: 8px;
}
h1 a.external:link, h2 a.external:link, h3 a.external:link, h4 a.external:link, h5 a.external:link, h6 a.external:link, h1 a.external:visited, h2 a.external:visited, h3 a.external:visited, h4 a.external:visited, h5 a.external:visited, h6 a.external:visited {
    padding-right: 16px;
}
h1 a.external:hover, h2 a.external:hover, h3 a.external:hover, h4 a.external:hover, h5 a.external:hover, h6 a.external:hover, h1 a.external:active, h2 a.external:active, h3 a.external:active, h4 a.external:active, h5 a.external:active, h6 a.external:active {
    background: url("http://mozcom-cdn.mozilla.net/img/tignish/content/external-link-large.png") no-repeat scroll right center transparent;
    padding-right: 16px;
}
a.email:link, a.email:visited {
    padding-right: 16px;
}
a.email:hover, a.email:hover {
    background: url("http://mozcom-cdn.mozilla.net/img/tignish/content/email-link.png") no-repeat scroll right center transparent;
    padding-right: 16px;
}
p {
    margin: 0 0 1em;
}
img {
    border: 0 none;
}
p, dd, #content li, #main-content li {
    line-height: 1.5;
}
#footer a.external:hover, #footer a.external:hover {
    background-image: url("http://mozcom-cdn.mozilla.net/img/tignish/content/external-link-footer.png");
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
abbr, acronym {
    border-bottom: 1px dotted #000000;
    cursor: help;
}
p, fieldset, table, pre {
    margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
    color: #484848;
    font-family: georgia,serif;
    font-style: italic;
    font-weight: normal;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    display: block;
    font-family: MetaBlack,"Trebuchet MS",sans-serif;
    font-size: 130%;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
h1, h2, h3 {
    margin: 1em 0 0.5em;
}
ul {
    margin: 1em 0;
    padding: 0;
}
blockquote {
    margin: 1em;
}
ol, dl {
    margin: 1em;
}
ol, dl {
    margin-left: 0;
    padding-left: 1.5em;
}
ol li, ul li ol li {
    background: none repeat scroll 0 0 transparent;
    list-style: decimal outside none;
}
dl dd {
    margin-left: 1em;
}
td, th {
    border: 0 none;
}
table.data-table {
    border-top: 1px solid #EEEEEE;
}
table.data-table td, table.data-table th {
    border-bottom: 1px solid #EEEEEE;
    padding: 0.5em;
}
ul.home-download, ul.home-download li {
    background: none repeat scroll 0 0 transparent;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.home-download {
    margin-left: 0;
    overflow: hidden;
    position: relative;
    width: 300px;
}
a.download-link, a.download-link:link, a.download-link:visited {
    -moz-transition: box-shadow 0.2s ease-in-out 0s;
    background: -moz-linear-gradient(center top , #84C63C 0%, #489615 100%) repeat scroll 0 0 transparent;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    display: block;
    height: 95px;
    margin: 0 0 10px 50px;
    overflow: visible;
}
.beta-download a.download-link, .beta-download a.download-link:link, .beta-download a.download-link:visited {
    background: -moz-linear-gradient(center top , #447BC4 0%, #305D99 100%) repeat scroll 0 0 transparent;
}
a.download-link:hover, a.download-link:active {
    -moz-transition: box-shadow 0.2s ease-in-out 0s;
    box-shadow: 0 3px rgba(0, 0, 0, 0.15), 0 -4px rgba(0, 0, 0, 0.15) inset, 0 0 80px rgba(255, 255, 255, 0.3) inset;
}
a.download-link span.download-content {
    background: url("/thunderbird/img/tb5/download-logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-family: georgia,"Bitstream Charter",serif;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    height: 95px;
    line-height: 18px;
    margin-left: -50px;
    padding: 10px 10px 0 112px;
    position: relative;
}
a.download-link span.download-title {
    display: block;
    font-size: 28px;
    font-style: normal;
    letter-spacing: -0.02em;
    line-height: 28px;
}
.home-download a.download-link span.download-title {
    font-size: 26px;
}
a.download-link:hover, a.download-link:active {
    background-position: -300px 0;
    cursor: pointer;
    text-decoration: none;
}
* html ul.home-download li a.download-link {
    overflow: hidden;
}
ul.home-download li a.download-link span.download-info {
    color: #346012;
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
    margin-top: 3px;
}
ul.beta-download li a.download-link span.download-info {
    color: #FFFFFF;
}
ul.home-download li a.download-link #download-arrow, ul.home-download li a.download-link .download-arrow {
    position: absolute;
    right: 15px;
    top: 15px;
}
ul.home-download li a.download-link span.download-info em {
    display: block;
    font-style: normal;
}
.download-noscript {
    margin-left: 35px;
    width: 400px;
}
.download-noscript h3 {
    font-size: 120%;
    margin-bottom: 0;
}
.download-noscript h3 span {
    color: #898378;
    display: block;
    font-size: 75%;
}
.download-noscript ul {
    margin-top: 0.5em;
}
.download-other {
    color: #CCCCCC;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 11px;
    margin: 0;
    text-align: center;
    width: 310px;
}
#download .download-noscript h3 span a, #download .download-noscript h3 span a:link, #download .download-noscript h3 span a:visited, .download-other a, .download-other a:link, .download-other a:visited {
    color: #999999;
    white-space: nowrap;
}
.home-download abbr, .download-noscript abbr {
    border-bottom: 0 none;
}
#download.top-right {
    position: absolute;
    right: 10px;
    top: 85px;
    z-index: 9;
}
#download.top-right ul.home-download {
    width: auto;
}
* html #download.top-right ul.home-download {
    width: 330px;
}
#download a.download-link {
    height: 45px;
    margin-bottom: 3px;
}
#download a.download-link span.download-content {
    background-image: url("http://mozcom-cdn.mozilla.net/img/download-logo-sub.png");
    font-size: 14px;
    height: 40px;
    margin-left: -25px;
    padding-left: 55px;
    padding-top: 8px;
}
#download a.download-link span.download-title {
    background: url("http://mozcom-cdn.mozilla.net/img/firefox/download-arrow.png") no-repeat scroll 100% 50% transparent;
    display: inline-block;
    font-size: 22px;
    margin-right: 5px;
    padding-bottom: 3px;
    padding-right: 20px;
    vertical-align: middle;
}
#download .download-other {
    margin: 0 0 0 80px;
    text-align: left;
    width: auto;
}
#download .download-noscript {
    background: url("http://mozcom-cdn.mozilla.net/img/download-logo-sub.png") no-repeat scroll 0 0 transparent;
    margin-left: 25px;
    padding-left: 55px;
    width: 275px;
}
#download .download-noscript h3 {
    margin: 0;
}
#download .download-noscript h3 span {
    font-family: "Trebuchet MS",sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-transform: none;
}
#download .download-noscript ul {
    list-style-type: none;
    margin: 0;
}
#download .download-noscript ul li {
    display: inline;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 11px;
    margin-right: 10px;
}
#download.mobile {
    width: 275px;
}
#download.mobile .dl, #download.mobile .dl:link, #download.mobile .dl:visited {
    -moz-transition: box-shadow 0.2s ease-in-out 0s;
    background: -moz-linear-gradient(center top , #84C63C 0%, #489615 100%) repeat scroll 0 0 transparent;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
    overflow: visible;
}
#download.mobile .dl span {
    background: url("http://mozcom-cdn.mozilla.net/img/firefox/download-arrow.png") no-repeat scroll 10px 14px transparent;
    display: block;
    padding: 8px 8px 8px 30px;
}
#download.mobile .dl:hover, #download.mobile .dl:active {
    -moz-transition: box-shadow 0.2s ease-in-out 0s;
    box-shadow: 0 3px rgba(0, 0, 0, 0.15), 0 -4px rgba(0, 0, 0, 0.15) inset, 0 0 80px rgba(255, 255, 255, 0.3) inset;
}
#download.mobile h3 {
    line-height: 0.9;
    margin: 0 0 20px;
}
#download.mobile h3 span {
    color: #447BC4;
}
#download.mobile .notes {
    font-family: "Trebuchet MS",sans-serif;
    font-size: 11px;
}
li.os_linux, li.os_windows, li.os_osx {
    display: none;
}
ul.os_linux li.os_linux {
    display: block;
}
ul.os_windows li.os_windows {
    display: block;
}
ul.os_osx li.os_osx {
    display: block;
}
#main-feature {
    margin: 0 20px;
}
#main-feature h2 {
    font-size: 40px;
    line-height: 1.2em;
    margin: 0;
    padding: 10px 0;
}
#main-feature h2 span {
    font-size: 65px;
}
#main-feature p {
    color: #484848;
    font-size: 20px;
    line-height: 1.4em;
}