.incomplete
{
  background-color: #fcc;
}

.needscheck
{
  background-color: #ffc;
}

.complete
{
  background-color: #afa;
}

.pending, .pending .certificate
{
  background-color: #eef;
}

.approved
{
  background-color: #5ee;
}

