RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteCond %{HTTP_ACCEPT} !application/xhtml\+xml\s*;\s*q=0
RewriteCond %{REQUEST_URI} \.html$
RewriteCond %{THE_REQUEST} HTTP/1\.1
RewriteRule .* - [T=application/xhtml+xml]
Redirect permanent /access/samples/js-nsIAccessible http://support.mozilla.com/kb/Assistive+technology+compatibility
Redirect permanent /access/samples/js-nsIAccessible.htm http://support.mozilla.com/kb/Assistive+technology+compatibility
