
body {
	background-image: url(/img/template/header/tile-small.jpg);
}

#main-feature { min-height: 135px; }

* html #main-feature { height: 135px; /* Hack for IE6 */ }

#main-feature h2 {
	margin-right: 335px;
}

#error-reasons {
	float: left;
	width: 385px;
	margin: 45px 50px 0 0;
}

#error-suggestions {
	float: left;
	width: 385px;
	margin: 45px 50px 0 0;
}

#content h3 { font-size: 115%; }
