.divider {
	height: 4px;
	background: url(/img/template/divider.png) center left no-repeat;
	clear: both;
}

body#about-contact,
body#about-board,
body#about,
body#about-staff,
body#about-mission,
body#about-careers,
body#about-getinvolved {
	background-image: url(/img/template/header/tile-medium.jpg);
}

body#about-privacy,
body#about-legal,
body#press-release {
	background-image: url(/img/template/header/tile-small.jpg);
}


/* {{{ About Landing Page */

#about #wrapper {
	background-image: url(/img/about/feature-background-about.jpg);
}

#about #main-feature { min-height: 355px; }
* html #about #main-feature { height: 355px; /* Hack for IE6 */ }

#about #main-feature h2 {
	font-size: 275%;
}

#about #main-feature p {
	font-size: 110%;
	margin-right: 455px;
}

#about #content {
	margin-right: 200px;
	margin-left: 15px;
	padding-left: 10px;
}

#about #bottom-divider {
	background: none;
}

.about-feature {
	width: 295px;
	margin-right: 60px;
	display: inline;
	float: left;
	padding: 30px 0;
}

.about-feature h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

.about-feature p {
	margin: 10px 115px 0 0;
	color: #69645c;
}

.about-feature img {
	float: right;
}

/* }}} */
/* {{{ Press Pages */

body#press,
body#press-kit,
body#press-archive {
	background-image: url(/img/template/header/tile-medium.jpg);
}

#press #main-feature,
#press-kit #main-feature,
#press-archive #main-feature { min-height: 200px; }

* html #press #main-feature,
* html #press-kit #main-feature,
* html #press-archive #main-feature { height: 200px; /* Hack for IE6 */ }

#press #wrapper,
#press-kit #wrapper,
#press-archive #wrapper {
	background: url(/img/about/feature-background-press.jpg) no-repeat top center;
}

#press #main-content,
#press-kit #main-content,
#press-archive #main-content {
	width: 485px;
	margin-right: 135px;
}

#press #sidebar,
#press-kit #sidebar,
#press-archive #sidebar {
	margin-top: 285px;
}

#press #sidebar .sidebar-section#subscribe,
#press-kit #sidebar .sidebar-section#subscribe,
#press-archive #sidebar .sidebar-section#subscribe {
	background: url(/img/template/divider.png) top left no-repeat;
	padding-top: 1em;
	padding-bottom: 0;
}

#press #sidebar .sidebar-section#subscribe p,
#press-kit #sidebar .sidebar-section#subscribe p,
#press-archive #sidebar .sidebar-section#subscribe p {
	margin-bottom: 0.5em;
}

#press #news-stories h3,
#press-kit #news-stories h3,
#press-archive #news-stories h3 {
	font-size: 123.1%;
	margin-bottom: 4px;
}

#press #news-stories .news-story,
#press-kit #news-stories .news-story,
#press-archive #news-stories .news-story {
	margin-bottom: 2em;
	padding-bottom: 2em;
	background: url(/img/template/divider.png) bottom left no-repeat;
}

#press #sidebar .sidebar-section,
#press-kit #sidebar .sidebar-section,
#press-archive #sidebar .sidebar-section {
	padding: 10px 5px 25px 5px;
	margin: 0 0 15px 0;
	position: relative;
	background: transparent url(/img/content/sidebar-feature-background.png) top left no-repeat;
}

#press #sidebar .sidebar-section h4,
#press-kit #sidebar .sidebar-section h4,
#press-archive #sidebar .sidebar-section h4 {
	margin: 10px 0;
}

#press #sidebar .sidebar-section p,
#press-kit #sidebar .sidebar-section p,
#press-archive #sidebar .sidebar-section p {
	margin-right: 25px;
}

#press-archive #news-stories .news-story {
	margin-bottom: 1em;
	padding-bottom: 1em;
}

#press-archive #news-stories  .news-date {
	float: left;
	width: 125px;
	clear: left;
	font-size: 85%;
	margin-top: 0.3em;
}

#press-archive #news-stories .news-story p,
#press-archive #news-stories .news-story h3 {
	margin-left: 135px;
}

#press-release #main-feature {
	margin-left: 35px;
}

#press-release #main-feature { min-height: 200px; }
* html #press-release #main-feature { height: 200px; /* Hack for IE6 */ }


#press-release #main-feature h3 {
	margin-bottom: 0.2em;
}

#press-release #main-feature p {
	margin: 0 0 1em 0;
	font-size: 110%;
}

#press-release #content {
	width: 700px;
}

#press-kit #main-content h3 {
	margin-bottom: 0;
}

#press-kit #main-content ul {
	background: url(/img/template/divider.png) bottom left no-repeat;
	margin: 0;
	padding: 1em 0;
}

#press-kit #sidebar a.rss-icon {
	background: url(/img/about/icon-rss.png) center right no-repeat;
	padding-right: 20px;
}

#press-kit #sidebar a.email {
	font-style: italic;
}

/* }}} */
/* {{{ Mission Page */

#about-mission #main-feature { min-height: 225px; }
* html #about-mission #main-feature { height: 225px; /* Hack for IE6 */ }

#about-mission #wrapper {
	background: url(/img/about/feature-background-mission.jpg) no-repeat top center;
}

#about-mission #main-feature p {
	margin-right: 565px;
	margin-bottom: 20px;
	font-size: 110%;
}

#about-mission p.intro {
	width: 300px;
	margin-bottom: 45px;
}

#about-mission #sidebar #thunderbird {
	padding: 30px 5px 25px 5px;
	margin: 200px 0 15px 0;
	position: relative;
	background: transparent url(/img/about/sidebar-feature-mission.png) top right no-repeat;
}

#about-mission #sidebar #thunderbird h4 {
	margin: 0 55px 0.7em 0;
}

/* }}} */
/* {{{ Get Involved Page */

#about-getinvolved #main-feature { min-height: 235px; }
* html #about-getinvolved #main-feature { height: 235px; /* Hack for IE6 */ }

#about-getinvolved #wrapper {
	background: url(/img/about/feature-background-getinvolved.jpg) no-repeat top center;
}

#about-getinvolved #main-feature h2 {
	font-size: 300%;
}

#about-getinvolved #main-feature p {
	margin-top: 20px;
	margin-right: 545px;
	margin-bottom: 20px;
	font-size: 160%;
}

#about-getinvolved #content {
	margin-top: 60px;
}

#about-getinvolved #content p.intro {
	width: 300px;
	font-size: 130%;
	margin-bottom: 25px;
}

#about-getinvolved #content h3 {
	color: #afaba3;
	font-size: 120%;
}

#about-getinvolved #content #easy {
	float: left;
	width: 300px;
	margin-right: 60px;
}

#about-getinvolved #content #technical {
	float: left;
	width: 300px;
}

/* }}} */
/* {{{ Careers Page */

#about-careers #main-feature { min-height: 225px; }
* html #about-careers #main-feature { height: 225px; /* Hack for IE6 */ }

#about-careers #wrapper {
	background: url(/img/about/feature-background-careers.jpg) no-repeat top center;
}

#about-careers #main-feature p {
	margin-right: 565px;
	margin-bottom: 20px;
	font-size: 110%;
}

#about-careers p.intro {
	width: 300px;
	margin-bottom: 45px;
}

#about-careers #sidebar .sidebar-section {
	padding: 10px 5px 25px 5px;
	margin: 200px 0 15px 0;
	position: relative;
	background: transparent url(/img/content/sidebar-feature-background.png) top left no-repeat;
}

#about-careers #sidebar .sidebar-section h4 {
	margin: 10px 0;
}

#about-careers #sidebar .sidebar-section p {
	margin-right: 25px;
}

#about-careers #sidebar-staff-photos {
	position: relative;
	right: 50px;
}

/* }}} */
/* {{{ Board Page */

#about-board #main-feature { min-height: 265px; }
* html #about-board #main-feature { height: 265px; /* Hack for IE6 */ }

#about-board #wrapper {
	background: url(/img/about/feature-background.jpg) no-repeat top center;
}

#about-board #main-feature p { margin-right: 385px; }

.board-member {
	background: url(/img/template/divider.png) bottom left no-repeat;
	clear: left;
	margin-top: 2em;
	padding-bottom: 2em;
}

.board-member h3 {
	margin-right: 125px;
	margin-bottom: 10px;
}

.board-member p {
	margin-right: 125px;
}

/* }}} */
/* {{{ Staff Page */

#about-staff #main-feature { min-height: 265px; }
* html #about-staff #main-feature { height: 265px; /* Hack for IE6 */ }

#about-staff #wrapper {
	background: url(/img/about/feature-background.jpg) no-repeat top center;
}

#about-staff #main-feature p { margin-right: 385px; }

.staff-member {
	float: left;
	width: 375px;
	margin-top: 2em;
	padding-bottom: 2em;
}

.staff-member h3 {
	margin-bottom: 10px;
}

.first {
	margin-right: 75px;
	display: block;
}

#about-staff .divider {
	clear: left;
}

/* }}} */
/* {{{ Get Involved Page */

#about-get-involved #main-feature { min-height: 215px; }
* html #about-get-involved #main-feature { height: 215px; /* Hack for IE6 */ }

#about-get-involved #main-feature p { margin-bottom: 10px; }

#about-get-involved #main-feature p { margin-right: 385px; }

#about-get-involved #content { margin-right: 275px; }

#about-get-involved .get-involved-list {
	float: left;
	width: 300px;
}

#about-get-involved #easy.get-involved-list { margin-right: 35px; }

#about-get-involved .get-involved-list h5 {
	color: #afaba3;
	margin-top: 1em;
}

#about-get-involved .get-involved-list li { margin-bottom: 5px; }

#about-get-involved h4.content-intro {
	margin-right: 250px;
	color: #807970;
}

/* }}} */
/* {{{ Contact Page */

#about-contact #wrapper {
	background-image: url(/img/about/feature-background-contact.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#about-contact #main-feature p {
	font-size: 165%;
	margin-right: 600px;
}

#about-contact #main-feature  { min-height: 295px; }
* html #about-contact #main-feature  { height: 295px; /* Hack for IE6 */ }

#about-contact #content {
	margin-right: 0;
	margin-left: 0;
}

#about-contact #map {
	width: 880px;
	height: 450px;
	border: 1px solid #ccc;
	position: relative;
	left: -5px;
	margin: 0 35px;
}

#about-contact div.geo {
	display: none;
}

#about-contact #map h3 {
	margin: 0;
}

#about-contact #map address {
	font-family: verdana, sans-serif;
	font-size: 85%;
}

#map_links { margin: 10px 35px 20px 35px; }

#map_links a { padding: 0 20px; }
#map_links a:focus { outline: 0; text-decoration: underline; }

#map_links #link_mountain_view {
	padding-left: 0;
	border-right: 1px solid #ccc;
}

#map_locations {
	padding-top: 2em;
	line-height: 1.4;
	margin: 0 35px;
}

#map_locations h2 {
	margin: 0;
	color: #afaba3;
}

.map-address a {
	font-family: verdana, sans-serif;
	font-size: 75%;
}

.contact-main-office,
.contact-regional-offices,
.careers,
.media {
	float: left;
	width: 220px;
	color: #69645c;
}

.contact-main-office h3,
.contact-regional-offices h3,
.careers h3,
.media h3 {
	color: #afaba3;
	margin-bottom: 15px;
}

.contact-main-office h5,
.contact-regional-offices h5,
.careers h5,
.media h5 {
	color: #4b4742;
}

.careers p,
.media p,
.careers h5,
.media h5 {
	margin-right: 45px;
}

.map-address {
	float: left;
	width: 192px;
	padding: 0 20px 10px 0;
}

.address-row {
	clear: left;
}

#maps-footer {
	padding: 2em 0;
}

#maps-footer hr { display: none; }

#contact-contents { margin: 0 35px; }

#questions,
#feedback {
	float: left;
	width: 49.9%;
}

#questions dl,
#feedback dl {
	margin: 0 40px 0 0;
	padding: 0;
}

#questions dt,
#feedback dt { font-size: 110%; }

#questions dd,
#feedback dd {
	margin: 0 0 1em 0;
}

/* }}} */
/* {{{ Privacy Page */

#about-privacy #main-feature { min-height: 135px; }
* html #about-privacy #main-feature { height: 135px; /* Hack for IE6 */ }

#about-privacy #wrapper {
	background: url(/img/about/feature-background-privacy.jpg) no-repeat top center;
}

#about-privacy #main-feature h2 {
	font-size: 200%;
}

#about-privacy #main-feature p {
	font-style: italic;
}

#about-privacy #main-content {
	width: 625px;
}

#about-privacy #main-content .intro {
	margin-bottom: 45px;
}

/* }}} */
/* {{{ Legal Page */

#about-legal #main-feature { min-height: 135px; }
* html #about-legal #main-feature { height: 135px; /* Hack for IE6 */ }

#about-legal #wrapper {
	background: url(/img/about/feature-background-privacy.jpg) no-repeat top center;
}

#about-legal #main-feature h2 {
	font-size: 200%;
}

#about-legal #main-feature p {
	font-style: italic;
}

#about-legal #main-content {
	width: 625px;
}

#about-legal #main-content .intro {
	margin-bottom: 45px;
}

/* }}} */
/* {{{ EULA Page */

body#about-eula {
	background-image: url(/img/template/header/tile-small.jpg);
}

#about-eula #main-feature { min-height: 135px; }

* html #about-eula #main-feature { height: 135px; /* Hack for IE6 */ }

#about-eula #wrapper {
	background: url(/img/about/feature-background-privacy.jpg) no-repeat top center;
}

#about-eula #main-feature h2 {
	font-size: 200%;
	margin-right: 35px;
}

#about-eula #main-feature p {
	font-style: italic;
	margin-right: 35px;
}

#about-eula #content {
	margin-top: 65px;
}

#about-eula #thunderbird-2-eula {
	width: 48%;
	float: left;
}

#about-eula #thunderbird-1-5-eula {
	width: 48%;
	float: left;
}
/* }}} */

