body#thunderbird-all {
	background-image: url(/img/template/header/tile-medium.jpg);
}

#thunderbird-all #wrapper {
	background: url(/img/thunderbird/feature-background-all.jpg) no-repeat scroll top center;
}

#thunderbird-all #main-feature h2 {
	font-size: 290%;
	margin-right: 250px;
}

#thunderbird-all #main-feature p {
	margin-right: 485px;
	font-size: 135%;
}

#thunderbird-all #main-feature { min-height: 275px; }
* html #thunderbird-all #main-feature { height: 275px; /* Hack for IE6 */ }


table.downloads { width: 75%; }

table.downloads thead th {
	white-space: nowrap;
}

td .download-windows,
td .download-linux,
td .download-osx-uni,
td .download-osx {
	background-repeat: no-repeat;
	background-position: left;
	padding: 2px 0 2px 18px;
	display: block;
}
td .download-windows { background-image: url(/img/ico-win.png); }
td .download-linux   { background-image: url(/img/ico-tux.png); }
td .download-osx-uni { background-image: url(/img/ico-osx-uni.png); }
td .download-osx { background-image: url(/img/ico-osx.png); }

/* {{{ Download Tables */

table.downloads {
	border-collapse: separate;
	width: 95%;
}

table.downloads thead th {
	font-weight: normal;
	font-size: 137%;
	color: #4b4742;
}

table.downloads th,
table.downloads td {
	padding: 5px 15px 5px 5px;
}

table.downloads td {
	font-family: verdana, sans-serif;
	font-size: 75%;
}

table.downloads tr.odd td { background: #f7f7f5; }
table.downloads tr.even td { background: #fff; }
table.downloads tr:target td { background: yellow; }
table.downloads td.curVersion { font-weight: bold; }
table.downloads td.nya { text-align: center; }

table.downloads td.dl,
table.downloads th.dl {
  white-space: nowrap;
}

table.downloads th {
  text-align: left;
}

/* }}} */
