/* {{{ Main Feature */

body#community {
	background-image: url(/img/template/header/tile-medium.jpg);
}

#wrapper {
	background-image: url(/img/community/feature-background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#main-feature p {
	font-size: 165%;
	margin-right: 575px;
}

#community #main-feature  { min-height: 285px; }

* html #community #main-feature  { height: 285px; /* Hack for IE6 */ }

/* }}} */

#content { margin-right: 0; }

#content .row {
	border-bottom: 1px solid;
	color: #69645b;
}

#content .top-row {
	margin-top: 50px;
}

#content .item {
	width: 420px;
	display: inline;
	float: left;
	margin-right: 35px;
}

#content .item h3 {
	margin: 0 0 8px 0;
	font-size: 155%;
}

#content .item p { padding-bottom: 20px; }

#content .item img {
	float: left;
	padding-bottom: 30px;
}

#content .divider {
	background: transparent url('/img/divider.png') left center repeat-x;
	height: 5px;
	clear: both;
	margin-bottom: 15px;
	margin-right: 35px;
	padding: 15px 0;
}

#main-feature h2 {
	margin-right: 35px;
}


#content p {
	margin: 0;
}
