#download #main-feature {
    background: url("/thunderbird/img/tb5/download/download-logo.png") no-repeat scroll 0 30px transparent;
    min-height: 170px;
    padding-left: 120px;
    padding-top: 15px;
	margin: 0 35px;
}

#download #main-feature h2 {
	font-size: 250%;
	margin: 0;
}
#download #main-feature h2 span {
	font-size: 100%;
	margin: 0;
}

#download #main-feature h3 {
	margin-bottom: 5px;
	color: #4b4742;
}

#download #main-feature p {
	font-size: 100%;
	margin: 0 340px 0 0;
}

#download ol.install-steps {
	margin: 0;
	padding: 0;
}
#download ol li img {
    float: right;
}
#download #main-feature p.manual-download {
    font-size: 130%;
}
div .column1 {
    width: 300px;
}

div .column2, .column3, .column4 {
    width: 320px;
    float: left;
}
#bottom-content {
    overflow:hidden;
    margin-bottom: 40px;
}
#download ol.install-steps li {
	margin: 0;
	padding: 0;
	clear:both;
	width: 60%;
	overflow: hidden;
	list-style-type: none;
}

#download ol.install-steps li.one {
	background: url(/thunderbird/img/tb5/download/one.png) 0 30px no-repeat;
	padding-top: 30px;
	padding-left: 90px;
}

#download ol.install-steps li.two {
	background: url(/thunderbird/img/tb5/download/two.png) 0 30px no-repeat;
	padding-top: 30px;
	padding-left: 90px;
}

#download ol.install-steps li.three {
	background: url(/thunderbird/img/tb5/download/three.png) 0 30px no-repeat;
	padding-top: 30px;
	padding-left: 90px;
	margin-right: 0;
}

#download ol.install-steps li p {
	font-size: 108%;
	margin-left: 7px;
	margin-right: 7px;
	color: #4b4742;
}

#download ol.install-steps li p.note {
	font-size: 85%;
	color: #69645c;
}

hr {
    clear: both;
    background: url(/thunderbird/img/tb5/big-divider.png) top center no-repeat transparent;
    margin: 25px 0;
    padding: 2px;
    border: 0;
}

ul.home-download li {
    padding-bottom: 15px;
}

ul.home-download {
    width: 400px;
}

.download-link span {
	position: relative;
	display: block;
	background: url(/img/home/download-logo.png) 0 0 no-repeat;
	font-family: georgia, serif;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	padding: 10px 10px 0 112px;
    margin-left: -25px;
    padding-left: 55px;
    font-size: 15px;
    background-image: url(/thunderbird/img/tb5/download-logo-sub.png);
    height: 40px;
    line-height: 1;
    padding-top: 8px;
}

.download-link span em {
    display: block;
    padding-top: 5px;
}