/* {{{ Main Feature */

body#home {
	background-image: url(/img/template/header/tile-home.jpg);
	background-position: top center;
}

#wrapper {
	background-image: url(/img/home/feature-background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#no-js-feature {
	position: absolute;
	top: 0;
	left: 50%;
	height: 557px;
	width: 948px;
	margin-left: -474px;
}

#main-feature h2 {
	margin-left: 5px;
	font-size: 200%;
}

#main-feature p {
	margin-top: 0;
	margin-right: 325px;
	margin-bottom: 50px;
}

#home #main-feature #feature-contents { min-height: 365px; }

* html #home #main-feature #feature-contents { height: 365px; /* Hack for IE6 */ }

#main-feature .download-other,
#main-feature p.download-other {
	margin-left: 30px;
	width: 285px;
	font-size: 70%;
}

/* }}} */
/* {{{ Main Content */

#main-content {
	float: left;
	display: inline; /* Fix IE double margin float bug */
	width: 600px;
	margin: 35px 0 0 30px;
	font-size: 110%;
}

#main-content h3 {
	margin: 15px 0 5px 5px;
	font-size: 175%;
}

#main-content dl {
	margin: 0;
	padding: 0;
	color: #69645b;
}

#main-content dt,
#main-content .all-news {
	font-size: 108%;
	padding: 25px 5px 3px 5px;
	margin: 0;
}

#main-content dt.first {
	background: none;
}

#main-content dd {
	margin: 0;
	padding: 0 5px 25px 5px;
	background: url(/img/home/news-divider.png) bottom left no-repeat;
}

/* }}} */
/* {{{ Sidebar */

#sidebar {
	float: left;
	display: inline; /* Fix IE double margin float bug */
	width: 290px;
	margin: 35px 30px 0 0;
	font-size: 110%;
}

#sidebar .front-feature {
	padding: 0 5px 25px 5px;
	margin: 15px 0;
	position: relative;
	background: transparent url(/img/content/sidebar-feature-background.png) top left no-repeat;
}

#sidebar .front-feature#dot-org-feature {
	background-image: url(/img/home/sidebar-feature-background-dot-org.png);
}

#sidebar .front-feature h3 {
	margin: 0 0 0.7em 0;
	line-height: 1;
	font-size: 175%;
}

#sidebar .front-feature h3 a {
	display: block;
	padding-top: 15px;
}

#sidebar .front-feature#dot-org-feature h3 a {
	padding-top: 23px;
}

#sidebar .front-feature h3 a:link,
#sidebar .front-feature h3 a:visited {
	color: #222;
}

#sidebar #dot-org-feature p {
	margin-right: 100px;
}

/* }}} */
/* {{{ RTL fixes */

[dir="rtl"] #home #main-content .sub-feature p a {
    padding-right: 12px;
    background: url("/img/content/external-link-footer-rtl.png") no-repeat scroll right center transparent;
}

/* }}} */