/* fixes for l10n */

#header a#return:link, #header a#return:visited {
  color:#FFFFFF;
}

#header #return {
  float:right;
  font-family:georgia,serif;
  font-size:116%;
  margin:25px 20px 0 0;
}

#home #main-feature p {
  margin-bottom:10px;
}

#home #main-feature p.download-other {
    text-align:center;
    margin-left:40px;
}

#home #main-feature a.download-link {
    padding-bottom:8px;
}


#footer {
  min-height:0;
}


#home #main-content {
  min-width:950px;
}

#home #main-content .sub-feature {
  background:transparent url(/img/thunderbird/release-notes-sidebar-back.png) no-repeat scroll left top;
  color:#69645C;
  float:left;
  margin-right:70px;
  width:225px;
}

#home #main-content .sub-feature p {
  margin-left:5px
}

#home #main-content .sub-feature p a {
  background:transparent url(/img/content/external-link-footer.png) no-repeat scroll left center;
  display:block;
  margin-top:15px;
  padding-left:12px;
}



#thunderbird .thunderbird-feature-contents h4 {
  padding-right:530px;
}


#thunderbird-features #main-feature p {
  margin-right:250px;
}


#thunderbird-features #main-feature h2 {
  font-size:340%;
}


/* rtl support */

body.locale-ar #wrapper,
body.locale-fa #wrapper,
body.locale-he #wrapper  {
  background-image:url(/img/home/feature-background-rtl.jpg);
}

body.locale-ar #home #main-content .sub-feature,
body.locale-fa #home #main-content .sub-feature,
body.locale-he #home #main-content .sub-feature
{
  float:right;
}

#home #main-feature a.download-link {
    padding-bottom:8px;
}


body#home.locale-ar #main-feature p.download-other,
body#home.locale-fa #main-feature p.download-other,
body#home.locale-he #main-feature p.download-other
{
    margin:0 65px 0 0;
}

body#home.locale-ar #main-feature a.download-link,
body#home.locale-fa #main-feature a.download-link,
body#home.locale-he #main-feature a.download-link
{
    paddi ng-bottom:8px;
}

body.locale-ar #main-feature h2,
body.locale-fa #main-feature h2,
body.locale-he #main-feature h2
{
  margin:0 35px 0 235px;
}

body.locale-ar #main-feature p,
body.locale-fa #main-feature p,
body.locale-he #main-feature p
{
  margin:8px 35px 35px 435px;
}

body.locale-ar #home #main-content .sub-feature p a,
body.locale-fa #home #main-content .sub-feature p a,
body.locale-he #home #main-content .sub-feature p a
{
  background:transparent url(/img/content/external-link-footer-rtl.png) no-repeat scroll right center;
  padding-right:12px;
}

body.locale-ar #home #main-content h3,
body.locale-fa #home #main-content h3,
body.locale-he #home #main-content h3
{
  margin:15px 5px 5px 0;
}

body.locale-ar #home #main-content .sub-feature p,
body.locale-fa #home #main-content .sub-feature p,
body.locale-he #home #main-content .sub-feature p
{
  margin-right:5px;
}


body.locale-ar#thunderbird #side-menu,
body.locale-fa#thunderbird #side-menu,
body.locale-he#thunderbird #side-menu,
body.locale-ar#thunderbird-features #side-menu,
body.locale-fa#thunderbird-features #side-menu,
body.locale-he#thunderbird-features #side-menu
{
  right:auto;
  left:35px;
}

body.locale-ar#thunderbird #wrapper,
body.locale-fa#thunderbird #wrapper,
body.locale-he#thunderbird #wrapper
{
  background-image:url(/img/thunderbird/feature-background-rtl.jpg);
}

body.locale-ar ul.home-download,
body.locale-fa ul.home-download,
body.locale-he ul.home-download
{
  margin-right:35px !important;
  margin-left:auto !important;
}


body.locale-ar#thunderbird .pager-content *,
body.locale-fa#thunderbird .pager-content *,
body.locale-he#thunderbird .pager-content *
{
  padding-right:270px;
}


body.locale-ar#thunderbird #main-feature p,
body.locale-fa#thunderbird #main-feature p,
body.locale-he#thunderbird #main-feature p,
body.locale-ar#thunderbird-features #main-feature p,
body.locale-fa#thunderbird-features #main-feature p,
body.locale-he#thunderbird-features #main-feature p
{
  margin-right:35px;
}

body.locale-ar#thunderbird-features #open-source p,
body.locale-fa#thunderbird-features #open-source p,
body.locale-he#thunderbird-features #open-source p
{
  padding-left: 360px;
  padding-right: 0 !important;
}

body.locale-ar#thunderbird-features p.return-top,
body.locale-fa#thunderbird-features p.return-top,
body.locale-he#thunderbird-features p.return-top
{
  text-align:left;
}

body.locale-ar#thunderbird #thunderbird-feature-nav li,
body.locale-fa#thunderbird #thunderbird-feature-nav li,
body.locale-he#thunderbird #thunderbird-feature-nav li
{
  display: block !important;
  float: right !important;
}


body.locale-ar #footer #copyright,
body.locale-fa #footer #copyright,
body.locale-he #footer #copyright
{
  background-position:right top;
  padding-left:0;
  padding-right:60px;
}

body.locale-ar #footer-contents,
body.locale-fa #footer-contents,
body.locale-he #footer-contents
{
  text-align:right;
}


/* per locale fixes */


body#thunderbird.locale-fr ul.home-download li a.download-link strong,
body#thunderbird.locale-de ul.home-download li a.download-link strong,
body#thunderbird.locale-ru ul.home-download li a.download-link strong,
body#thunderbird.locale-et ul.home-download li a.download-link strong,
body#thunderbird.locale-gd ul.home-download li a.download-link strong
 {
  font-size:125%;
}

body#home.locale-ar #main-content .sub-feature,
body#home.locale-fa #main-content .sub-feature,
body#home.locale-he #main-content .sub-feature
{
  float:right;
}

/* BETA LOCALE SUPPORT */

/*
 Commented out for now as we don't need it currently.
body#thunderbird.locale-sr ul.home-download
{
    width: 447px;
}
body#thunderbird.locale-sr ul.home-download li a.download-link
{
    background-image: url(/img/home/download-button-primary-beta.png);
}

body#home.locale-sr ul.home-download li a.download-link
{
    padding:15px 15px 15px 60px;
    background-image: url(/img/home/download-button-beta.png);
}

body#home.locale-sr ul.home-download li a.download-link strong
{
    margin-right:70px;
}
*/

/* END BETA LOCALE SUPPORT */
