/* {{{ Early Releases page */

body#early-releases #wrapper { background-image: url(/img/thunderbird/release-notes-background.jpg); }

body {
	background: #fff url(/img/template/header/tile-medium.jpg) 50% 0 repeat-x;
}


#early-releases #main-feature { min-height: 295px; }
* html #early-releases #main-feature { height: 295px; /* Hack for IE6 */ }

/* }}} */
