#support #side-menu li a {
	display: inline;
}

body#support {
	background-image: url(/img/template/header/tile-medium.jpg);
}

#support #main-feature { min-height: 265px; }
* html #support #main-feature { height: 265px; /* Hack for IE6 */ }

#support #wrapper {
	background: url(/img/support/feature-background.jpg) no-repeat top center;
}

#support #main-feature h2 {
	font-size: 300%;
}

#support #main-feature p {
	margin-right: 375px;
}

#support #main-content {
	margin-top: 20px;
}

#support #sidebar .sidebar-section {
	background: url(/img/content/sidebar-feature-background.png) no-repeat left top;
	margin: 35px 0 15px;
	padding: 10px 5px 25px;
	position: relative;
	font-size: 85%;
}

#support #sidebar .sidebar-section h4 {
	margin: 0.2em 0 0.5em 0;
	font-size: 155%;
	color: #4b4742;
}

#support #new {
	float: left;
	width: 250px;
	margin-right: 50px;
	display: block;
}

#support #popular {
	float: left;
	width: 250px;
}

.column h3 {
	color: #4b4742;
	font-size: 155%;
	margin-bottom: 0;
}
