/* {{{ Thunderbird Features Page */

body#thunderbird-features #wrapper { background-image: url(/img/thunderbird/features/feature-background.jpg); }

body {
	background: #fff url(/img/template/header/tile-medium.jpg) 50% 0 repeat-x;
}

#thunderbird-features #main-feature p {
	margin-right: 425px;
}

#thunderbird-features #main-feature p.feature-links {
	color: #333;
	font-size: 100%;
	margin-top: 1em;
}

#thunderbird-features #main-feature ul {
	left: 35px;
	margin-top: 0.5em;
	width: 800px;
}

#thunderbird-features #main-feature ul li {
	background: transparent url(/img/thunderbird/features/feature-bullet.png) 10px 50% no-repeat;
	display: inline;
	padding-left: 20px;
}

#thunderbird-features #content {
	margin-top: 80px;
}

#thunderbird-features #content #get-organized {
	background: transparent url(/img/thunderbird/features/getorganized-background.png) 50% 0 repeat-x;
	height: 240px;
	font-size: 110%;
	padding-top: 60px;
	padding-right: 590px;
	border-bottom: 1px #e3e2e0 solid;
}

#thunderbird-features #content #get-started {
	background: transparent url(/img/thunderbird/features/getstarted-background.png) 50% 0 repeat-x;
	height: 240px;
	font-size: 110%;
	padding-top: 60px;
	padding-right: 590px;
	border-bottom: 1px #e3e2e0 solid;
}

#thunderbird-features #content #customize-experience {
	background: transparent url(/img/thunderbird/features/customizeexperience-background.png) 50% 0 repeat-x;
	height: 285px;
	font-size: 110%;
	margin-top: -30px;
	padding-top: 90px;
	padding-right: 570px;
	border-bottom: 1px #e3e2e0 solid;
}

#thunderbird-features #content #secure-protect {
	background: transparent url(/img/thunderbird/features/secureprotect-background.png) 50% 0 repeat-x;
	height: 280px;
	font-size: 110%;
	margin-top: -50px;
	padding-top: 120px;
	padding-right: 600px;
	border-bottom: 1px #e3e2e0 solid;
}

#thunderbird-features #content #get-organized h2,
#thunderbird-features #content #customize-experience h2,
#thunderbird-features #content #secure-protect h2 {
	color: #4b4742;
	font-size: 200%;
	font-weight: normal;
	margin: 0 0 0.5em 0;
}

#thunderbird-features #content h4 {
	font-size: 110%;
	color: #4b4742;
	margin-bottom: 0.5em;
}

#message-tagging,
#yourmail-yourway,
#cuttingout-junk {
	float: left;
	width: 410px;
	margin: 50px 55px 50px 0;
}
#improved-search,
#addonsmanager-extensions,
#robust-privacy {
	float: left;
	width: 410px;
	margin: 50px 0 50px 0;
}

#advanced-folder,
#stay-informed,
#easy-access {
	float: left;
	width: 240px;
	margin: 50px 43px 0 0;
}
#advanced-folder { clear: both; }

img.advanced-folder-img { clear: both; }
img.advanced-folder-img,
img.stay-informed-img,
img.easy-access-img {
	float: left;
	margin: 0 0 50px 0;
}

#account-setup-wizard,
#one-click,
#migration-assistant,
#attachment-reminder,
#activity-manager,
#message-archive,
#saved-searches, 
#phishing-protection,
#automated-update,
#quick-filter,
#open-source {
	clear: both;
	float: left;
	padding: 50px 0;
}

#account-setup-wizard,
#one-click,
#attachment-reminder,
#activity-manager,
#message-archive,
#saved-searches, 
#phishing-protection,
#automated-update,
#quick-filter,
#open-source {
	border-top: 1px #e3e2e0 solid;
}

#message-archive h4, #message-archive p { padding-left: 420px; }
#message-archive img { float: left; }
#saved-searches { border-bottom: 1px #e3e2e0 solid;	}
#saved-searches h4, #saved-searches p { padding-left: 525px; }
#saved-searches img { float: left; }
#account-setup-wizard img { float: right; }
#migration-assistant img { float: left; }
#migration-assistant h4, #migration-assistant p { padding-left: 485px; }
#one-click h4, #one-click p { padding-left: 485px; }
#one-click img { float: left; }
#attachment-reminder h4, #attachment-reminder p { padding-right: 470px; }
#attachment-reminder img { float: right; }
#quick-filter h4, #quick-filter p { padding-right: 470px; }
#quick-filter img { float: right; }
#activity-manager h4, #activity-manager p { padding-left: 485px; }
#activity-manager img { float: left; }
#phishing-protection h4, #phishing-protection p { padding-right: 470px; }
#phishing-protection img { float: right; }
#automated-update h4, #automated-update p { padding-left: 485px; }
#automated-update img { float: left; }
#open-source p { padding-right: 360px; }

p.return-top {
	background: transparent url(/img/thunderbird/features/returntotop-background.png) 50% 0 repeat-x;
	clear: both;
	position: relative;
	text-align: right;
	z-index: 50;
}

p.return-top a {
	display: inline-block;
	margin-top: 45px;
}

/* }}} */
