/* {{{ Thunderbird Landing Page */

body#thunderbird #wrapper { background-image: url(/img/thunderbird/feature-background.jpg); }

#thunderbird #main-feature { min-height: 400px; }
* html #thunderbird #main-feature { height: 400px; /* Hack for IE6 */ }

#thunderbird #main-feature h2,
#thunderbird-features #main-feature h2 { padding-top: 15px; }

#thunderbird-features #main-feature h2 a:link { color: #333; }
#thunderbird-features #main-feature h2 a:visited { color: #333; }

#thunderbird #main-feature p,
#thunderbird-features #main-feature p {
	font-size: 137%;
	margin-right: 255px;
	margin-top: 5px;
}
#thunderbird #main-feature p.extra-margin { margin-bottom: 60px; }

#thunderbird #main-feature p.quote {
	font-size: 110%;
	font-style: italic;
}

#thunderbird #content { margin-right: 200px; }

.js #thunderbird-feature {
	overflow: hidden;
	height: 437px;
	width: 914px;
	padding: 20px 14px 21px 16px;
}

#thunderbird-feature {
	background: url(/img/thunderbird/feature-box-background.png) top left no-repeat;
	width: 914px;
	padding: 20px 14px 21px 16px;
}

#thunderbird-feature #thunderbird-feature-header {
	height: 102px;
	line-height: 1;
}

#thunderbird-feature h3 {
	font-size: 265%;
	margin: 0;
	padding: 25px 40px 14px 19px;
}

#thunderbird-feature #thunderbird-feature-nav {
	margin: 0 40px 0 19px;
	height: 25px;
	padding: 0;
	left: auto;
}

#thunderbird-feature #thunderbird-feature-nav li {
	display: inline;
	padding: 0 2em 0 0;
	list-style-type: none;
	background: none;
}

#thunderbird-feature #thunderbird-feature-nav a.selected { color: #898378; outline: 0; }
#thunderbird-feature #thunderbird-feature-nav a.selected:hover { text-decoration: none; }

.thunderbird-feature-contents {
	margin: 0 0 20px 19px;
	height: 339px;
	color: #898378;
	position: relative;
}

.thunderbird-feature-contents h4 {
	color: #898378;
	padding-top: 22px;
	margin-bottom: 0.5em;
	font-size: 155%;
}

.thunderbird-feature-contents p {
	width: 345px;
	line-height: 1.6;
}

.image-caption {
	position: absolute;
	color: #afaba3;
	top: 15px;
}

#feature-upgrade.thunderbird-feature-contents,
#page-feature-upgrade.thunderbird-feature-contents {
	background: #fff url(/img/thunderbird/feature-bg-upgrade.png) bottom right no-repeat;
}

#feature-tabs-search.thunderbird-feature-contents,
#page-feature-tabs-search.thunderbird-feature-contents {
	background: #fff url(/img/thunderbird/feature-bg-tabs.png) bottom right no-repeat;
}

#feature-organize.thunderbird-feature-contents,
#page-feature-organize.thunderbird-feature-contents {
	background: #fff url(/img/thunderbird/feature-bg-organize.png) bottom right no-repeat;
}

#feature-customize.thunderbird-feature-contents,
#page-feature-customize.thunderbird-feature-contents {
	background: #fff url(/img/thunderbird/feature-bg-customize.png) top right no-repeat;
}

#feature-secure.thunderbird-feature-contents,
#page-feature-secure.thunderbird-feature-contents {
	background: #fff url(/img/thunderbird/feature-bg-secure.png) bottom right no-repeat;
}

#feature-setup.thunderbird-feature-contents,
#page-feature-setup.thunderbird-feature-contents {
	background: #fff url(/img/thunderbird/feature-bg-setup.png) top right no-repeat;
}

.sub-feature {
	width: 244px;
	margin: 0 28px;
	float: left;
	display: inline; /* fix IE margin issue */
}

.sub-feature h3 a {
	display: block;
	position: relative;
}

.sub-feature h3 a:link,
.sub-feature h3 a:visited {
	color: #4B4740;
}

.sub-feature h3 { margin-bottom: 5px; }

.sub-feature p {
	font-size: 110%;
	margin-bottom: 15px;
	margin-right: 15px;
	color: #afaba3;
}

#thunderbird-tour.sub-feature {
	margin: 0 43px 0 13px;
}

#thunderbird-tour.sub-feature h3 a {
	padding-right: 125px;
}

#thunderbird-tour.sub-feature p {
	margin-right: 100px;
}

#thunderbird-awards.sub-feature h3 a {
	padding-right: 100px;
}

#thunderbird-awards.sub-feature p {
	margin-right: 100px;
}

#main-feature p {
	margin-bottom: 0px;
}

.alt-video-link {
	font-size: 85%;
}

.alt-video-link:link,
.alt-video-link:visited {
	color: #69645c;
}

.alt-video-link:hover,
.alt-video-link:active {
	color: #898378;
}

p#no-flash-text { margin: 1em !important; }

body#thunderbird #footer { margin-top: 40px; }

/* }}} */
/* {{{ Download Button */

#thunderbird ul.home-download {
	width: 393px;
	margin: 0;
	left: auto;
}

#thunderbird ul.home-download li {
	padding: 0;
	position: relative;
	height: 147px;
}

* html #thunderbird ul.home-download li {
	background: none;
}

#thunderbird ul.home-download li a.download-link {
	background-image: url(/img/thunderbird/download-button-primary.png);
	height: 147px;
	padding: 0;
}

#thunderbird ul.home-download li a.download-link span {
	padding: 70px 20px 20px 150px;
	height: 49px;
	display: block;
}

#thunderbird ul.home-download li a.download-link strong {
	font-family: georgia, serif;
	font-weight: normal;
	font-size: 145%;
	padding-right: 25px;
	background: url(/img/thunderbird/download-arrow.png) right center no-repeat;
}

#thunderbird #main-feature .download-other {
	margin-left: 30px;
	font-size: 70%;
}

.download-noscript { margin-left: 35px; width: 400px; }
.download-noscript h3 { font-size: 120%; margin-bottom: 0; }
.download-noscript h3 span { display: block; font-size: 75%; color: #898378; }
.download-noscript ul { margin-top: 0.5em; }

/* }}} */
/* {{{  Comparison Table */

#feature-comparison {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 500px;
	font-size: 85%;
}

#feature-comparison thead th {
	text-align: center;
	padding: 0 10px;
}

#feature-comparison tbody .odd td,
#feature-comparison tbody .odd th {
	background: #f5f5f3;
}

#feature-comparison tbody td,
#feature-comparison tbody th {
	padding: 10px 20px;
	color: #4B4740;
}

#feature-comparison tbody td {
	border-left: 1px solid #e5e4e0;
	text-align: center;
}

/* }}} */
/* {{{ System Requirements Page */

body#thunderbird-requirements #wrapper { background-image: url(/img/thunderbird/features/feature-background.jpg); }

body {
	background: #fff url(/img/template/header/tile-medium.jpg) 50% 0 repeat-x;
}

#thunderbird-requirements #main-feature { min-height: 275px; }
* html #thunderbird-requirements #main-feature { height: 275px; /* Hack for IE6 */ }

/* }}} */
