body {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: georgia, serif;
	font-size: small;
	line-height: 1.5;
}

a:link,
a:visited {
	text-decoration: none;
	color: #c2550a;
}

a:hover,
a:active {
	text-decoration: underline;
	color: #c2550a;
}

#contents {
	margin: 0 auto;
	padding-left: 20px;
}

#header h1 {
	margin: 0 0 10px 0;
	padding: 5px 0 0 0;
	font-weight: normal;
	letter-spacing: -1px;
}

#header p {
	font-size: 135%;
}

p,
ul {
	font-size: 110%;
}

ul {
	margin-left: -10px;
	padding-left: 0;
}

#footer {
	font-size: x-small;
	color: #999;
}
