body {
    margin: 0;
    padding: 5px 4px 4px 8px;
    background: #fff url(/thunderbird/img/thunderbird/3.0/details/background.jpg) top left repeat-x;
}

h1 {
    margin: 0;
    padding: 2px 0 0 0;
    font-size: 167%;
}

a:link,
a:visited {
    text-decoration: underline;
}

#wrapper {
    width: 266px;
    margin: 0 auto;
}

#details-header {
    padding-right: 62px;
    padding-left: 7px;
    min-height: 70px;
    background-position: top right;
    background-repeat: no-repeat;
    background: url(/thunderbird/img/thunderbird/3.0/details/logo.png) top right no-repeat;
}

#details-header p {
    margin: 0;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

#details-content {
    width: 266px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 3px;
    min-height: 75px;
    font-size: 75%;
    background-position: top center;
    background-repeat: no-repeat;
    background: url(/thunderbird/img/thunderbird/3.0/details/box-top.png) top center no-repeat;
}

#details-content ul {
    left: 0;
    margin: 0;
    padding: 0 0 12px 0;
    background: url(/thunderbird/img/thunderbird/3.0/details/box-bottom.png) bottom center no-repeat;
}

#details-content ul li {
    margin-left: 12px;
    margin-right: 20px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 8px;
    background: url(/thunderbird/img/thunderbird/3.0/details/bullet.png) 0 7px no-repeat;
}



/* rtl fixes */

html[dir='rtl']  #details-header {
    padding-left:75px;
    padding-right:10px;
    min-height:70px;
    background-position:10px 4px;
}



html[dir='rtl'] #details-content ul li:first-child {
    margin-right: 20px !important;
}


/* general fixes for all locales */

#details-content ul li {
    margin-left: 12px;
    margin-right: 10px;
}


h1 {
    font-size: 140%;
    margin:0 !important;
    padding-top:0 !important;
}

/* specific fixes for locales */



html[lang='si'], html[lang='bn-IN'], html[lang='ka'], html[lang='kn']  {
    font-size:85%
}

html[lang='th'] li{
    line-height:1.2em
}


html[lang='kn'] h1,  html[lang='kn'] li, html[lang='kn'] p {
    line-height:1.5em
}

html[lang='te'] li {
    line-height:1.5em
}


/* reset for English only */

html[lang='en'] h1, html[lang='en-GB'] h1 {
    font-size: 167%;
    padding-top:2px !important;
}

html[lang='en'] #details-header p, html[lang='en-GB'] #details-header p {
        margin: 5px 0;
}
