/* mozilla.org MezzoTan Template Styles
 * Initial Design by Dave Shea
 */

/* Basic Structure */

	#mBody {
		background: #EEEAE4;
	}
	.nomenu #mBody {
		background: #fff;
	}

	#side {
		background: #EEEAE4 url(../../images/bg6.gif) top left repeat-x;
	}

	#mainContent {
		voice-family: "\"}\""; voice-family:inherit; /* Tantek's hack */
		border-bottom: solid 1px #fff;
	} #ignored {}
	.nomenu #mainContent {
		background: #fff url(../../images/bg10.gif) top left repeat-x;
	}

/* Header */

	#header {
		background: #F1D496 url(../../images/bg1.gif) top left repeat-x;
	}

	#mainNav {
		background: #D9B87F url(../../images/bg3.gif) top left repeat-x;
	}

	#mainNav :link, #mainNav :visited {
		font-size: 90%;
		text-transform: lowercase;
		text-decoration: none;
		font-weight: bold;
		color: #fff;
	}

	#mainNav :link:hover, #mainNav :visited:hover {
		padding-bottom: 4px;
		border-bottom: solid 3px #B77723;
	}

/* Search Field */

	#sf {
		border: solid 1px #F1DAA8;
		background: #F1D79E url(../../images/bg2.gif) top left repeat-x;
	}

	#q {
		background: #FAE8BA;
		border: solid 1px #E3C690;
		border-bottom-color: #F1D79E;
		border-right-color: #F1D79E;
		padding: 2px;
	}
	#q:hover, #q:focus {
		background: white;
	}
	#submit {
		background-color: #DCC085;
		border: solid 1px #C5A46C;
		border-top-color: #E6D098;
		border-left-color: #E6D098;
	}
	#submit:hover, #submit:focus {
		background: #FAE8BA;
	}

/* Sidebar */

	#side h2 {
		color: #B26C38;
	}
	#side h3 {
		color: #333;
	}
	#side dd {
		border-left: solid 3px #E3DDD3;
	}
	#side li {
		background: transparent url(../../images/w6.gif) top left no-repeat;
	}

	#oN {
		background-color: #F5F2EF;
		border: solid 1px #fff;
	}
	#oN:hover {
		background-color: #F8F7F4;
	}
	#oN li {
		background: transparent url(../../images/w5.gif) top left no-repeat;
	}

/* Footer */

	#bn {
		border-top: solid 1px #EAE6DE;
		background: transparent url(../../images/bg8.gif) top left repeat-y;
	}

	#bn :link, #bn :visited {
		background: transparent url(../../images/bg8.gif) top right repeat-y;
	}
	#bn :visited {
		font-weight: bold;
	}
