Redirect permanent /projects/nspr/tech-notes/ntiotimeoutinterrupt.html http://developer.mozilla.org/en/Using_IO_Timeout_And_Interrupt_On_NT
Redirect permanent /projects/nspr/tech-notes/appl-hints.html http://developer.mozilla.org/en/Optimizing_Applications_For_NSPR
Redirect permanent /projects/nspr/tech-notes/porting-guide.html http://developer.mozilla.org/en/Porting_NSPR_to_Unix_Platforms
Redirect permanent /projects/nspr/tech-notes/poll-method.html http://developer.mozilla.org/en/NSPR_Poll_Method
Redirect permanent /projects/nspr/tech-notes/autoaddresses.html http://developer.mozilla.org/en/Using_Addresses_Of_Automatic_Variables_With_NSPR
Redirect permanent /projects/nspr/tech-notes/abruptexit.html http://developer.mozilla.org/en/NSPR%27s_Position_On_Abrupt_Thread_Termination
Redirect permanent /projects/nspr/tech-notes/forking.html http://developer.mozilla.org/en/Process_Forking_in_NSPR
