Options +MultiViews
Redirect permanent /access/keyboard/tabindex http://developer.mozilla.org/en/Key-navigable_custom_DHTML_widgets
Redirect permanent /access/keyboard/tabindex.html http://developer.mozilla.org/en/Key-navigable_custom_DHTML_widgets
Redirect permanent /access/keyboard/accesskey/index.html http://developer.mozilla.org/en/XUL_Accesskey_FAQ_and_Policies
Redirect permanent /access/keyboard/accesskey.html http://developer.mozilla.org/en/XUL_Accesskey_FAQ_and_Policies

