Options +MultiViews
Redirect permanent xul-guidelines.html http://developer.mozilla.org/en/XUL_accessibility_guidelines
Redirect permanent xul-guidelines http://developer.mozilla.org/en/XUL_accessibility_guidelines
Redirect permanent /access/xul-guidelines.html http://developer.mozilla.org/en/XUL_accessibility_guidelines
Redirect permanent /access/xul-guidelines http://developer.mozilla.org/en/XUL_accessibility_guidelines
Redirect permanent dynamic-content.html http://www.mozilla.org/access/dhtml
Redirect permanent dynamic-content http://www.mozilla.org/access/dhtml
Redirect permanent /access/dynamic-content.html http://www.mozilla.org/access/dhtml
Redirect permanent /access/dynamic-content http://www.mozilla.org/access/dhtml
Redirect permanent keyboard/tabindex http://developer.mozilla.org/en/Key-navigable_custom_DHTML_widgets
Redirect permanent /access/keyboard/tabindex http://developer.mozilla.org/en/Key-navigable_custom_DHTML_widgets
Redirect permanent compatibility http://support.mozilla.com/kb/Assistive+technology+compatibility
Redirect permanent compatibility.html http://support.mozilla.com/kb/Assistive+technology+compatibility
Redirect permanent /access/compatibility http://support.mozilla.com/kb/Assistive+technology+compatibility
Redirect permanent /access/compatibility.html http://support.mozilla.com/kb/Assistive+technology+compatibility
Redirect permanent projects http://wiki.mozilla.org/Accessibility/Projects
Redirect permanent projects.html http://wiki.mozilla.org/Accessibility/Projects
Redirect permanent /access/projects http://wiki.mozilla.org/Accessibility/Projects
Redirect permanent /access/projects.html http://wiki.mozilla.org/Accessibility/Projects
Redirect permanent /access/dhtml/class/enable.js http://wiki.codetalks.org/wiki/index.php/Set_of_ARIA_Test_Cases
