<?php

$html_title = 'Component Security for Mozilla';
$page_title = 'Component Security for Mozilla';

$menu = array(
    'id' => 'default',
);

$extra_headers = '
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="DC.author" content="Mitch Stoltz">
<meta name="DC.creator" content="Mitch Stoltz">
<meta name="DC.title" content="Component Security for Mozilla">
<meta name="DC.subject" content="Mozilla, security, Firefox, browser security, JavaScript, Java, HTML">
<meta name="DC.date.created" content="2000-01-18T11:09:03+11:00" scheme="W3CDTF">
<meta name="DC.date.modified" content="2006-09-07T09:54:03+11:00" scheme="W3CDTF">
<link rel="section" href="#intro" title="What is Component Security?">
<link rel="section" href="#docs" title="Documentation">
<link rel="section" href="#people" title="People">
<link rel="section" href="#wishlist" title="Wish List &amp; Future Projects">
<link rel="glossary" href="terms.html" title="Security terminology">
';

require_once "{$config['file_root']}/includes/header.inc.php"

?>

<p style="font-size: 150%; color: red; background-color: inherit; text-align: center;"><img src="spy1.gif" width="385" height="326" alt=""><br>
We need your help to make Mozilla a more secure platform. See below for ways to get involved.</p>

<h2><a name="intro" rel="section">What is "Component Security"?</a></h2>

<p>These pages are to describe the project of adding security to Mozilla components.
We <strong><em>do not</em></strong> cover cryptographic security (SSL, certificates,
S/MIME, etc.). For such topics, see <a href="../pki/">Open Source PKI Projects</a>.</p>

<p>Instead we talk about the ways of adding Java and JavaScript security to Mozilla 
components, mainly in terms of mobile code and the browser interfaces available to 
programs from those languages.</p>

<p>This is a difficult task in any event, but is particularly tricky for
Mozilla. This is because Mozilla makes increasing use of Internet technologies
to implement the browser itself. This has many benefits for modularity,
cross-platform development, and encouraging development by a wider range
of people. However, it also makes the process of ensuring browser security
more challenging because it requires building a wall between
the trusted browser and the untrusted content it displays.</p>

<h2><a name="docs" rel="section">Documentation</a></h2>

<ul>
  <li><a href="reviewguide.html">Mozilla Security Review and Best Practices Guide</a></li>
  <li><a href="same-origin.html">Same Origin Policy</a></li>
  <li><a href="signed-scripts.html">Signed Script Policy</a></li>
  <li><a href="ConfigPolicy.html">Configurable Security Policies (CAPS)</a></li>
  <li><a href="signed-script-example.html">Signed Scripts & Privileges: An Example</a></li>
  <li><a href="master-cert.html">Using a Master Certificate for Remote Trust Grants</a></li>
  <li><a href="per-file.html">Configuring Per-File Privileges</a></li>
  <li><a href="../security-bugs-policy.html">Mozilla.org Policy on Handling Security Bugs</a></li>
  <li><a href="../secgrouplist.html">Current Members of the Mozilla security group</a></li>
  <li><a href="../known-vulnerabilities.html">Known Vulnerabilities in Mozilla</a></li>
  <li><a href="sectalk/slide1.xml">Slides from 'Intro to Mozilla Security' talk, 3/4/02 (XML)</a></li>
</ul>

<h2><a name="people" rel="section">People</a></h2>

<ul>
  <li><a href="mailto:security&#64;mozilla.org">Mozilla Security Group</a></li>
  <li><a href="../secgrouplist.html">Current Security Group Members</a></li>
</ul>

<p>
<a href="news://news.mozilla.org/netscape.public.mozilla.security">The Mozilla Security Newsgroup</a> is a good place to raise security-related issues.</p>

<h2><a name="wishlist" rel="section">Wish List &amp; Future Projects</a></h2>

<ul>
  <li>Buffer overflow problems - We will soon be launching a major initiative to wipe out
this persistent source of security problems. Watch this space for tips on how to find potential
buffer overflows in your code.</li>
  <li>Signed XPI - We would like to add cryptographic signature verification to the
<a href="../../xpinstall/">XPInstall Engine</a>.</li>
  <li>Re-do the CheckLoadURI policy - it is not consistently applied in some areas, and it's too
restrictive in others. We need to re-eavluate where this policy is needed and what restrictions
to enforce.</li>
  <li>Better Java compatibility - Currently, JavaScript cannot call privileged functions in signed
applets. We need better integration between the Mozilla security manager and the Java plugin.</li>
</ul>

<p>We need your help! If any of the projects above interests you,
<a href="mailto:security&#64;mozilla.org">let us know</a>. In addition, we need more community
security review. Pick a Mozilla module you know and start looking for buffer overruns, misuse of
privileges, and other security problems. Check back here soon for a list of things to look out for.
Let's prove to the world that open source development leads to secure software!
</p>



<?
require_once "{$config['file_root']}/includes/footer.inc.php"
?>
