<?php

$html_title = 'RSA Conference Notes';

$menu = array(
    'id' => 'default',
);

$extra_headers = '
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="DC.author" content="Mitch Stoltz">
<meta name="DC.creator" content="Mitch Stoltz">
<meta name="DC.title" content="RSA Conference Notes">
<meta name="DC.subject" content="RSA Conference Notes">
<meta name="DC.date.created" content="2002-03-07T19:46:03+11:00" scheme="W3CDTF">
<meta name="DC.date.modified" content="2006-09-10T09:54:03+11:00" scheme="W3CDTF">
<link rel="up" href="../" title="Security project homepage">
<link rel="contents" href="./" title="Component Security in Mozilla">
<link rel="section" href="#mhoward" title="M. Howard, Microsoft Windows">
<link rel="subsection" href="#design" title="Design Issues">
<link rel="subsection" href="#othertech" title="Other Techniques">
<link rel="section" href="#dshankar" title="Dr Shankar, IBM, Linux">
<link rel="subsection" href="#benefits" title="Benefits">
<link rel="section" href="#bshneier" title="Bruce Schneier, Counterpane">
<link rel="subsection" href="#types" title="Types of Security Problems">
<link rel="subsection" href="#securityhard" title="Why Security is Hard">
<link rel="subsection" href="#recommendations" title="Recommendations">
<link rel="glossary" href="terms.html" title="Terminology in JavaScript Security">
';

require_once "{$config['file_root']}/includes/header.inc.php"

?>

<table cellspacing="0" cellpadding="4">
  <tbody>
    <tr style="background-color: #F5F5DC; color: inherit;">
      <td><a rel="up" href="../">Security projects</a></td>
      <td>&gt;</td>
      <td><a rel="contents" href="./">Component Security</a></td>
      <td>&gt;</td>
      <td>2002 RSA Security Conference</td>
    </tr>
  </tbody>
</table>

<h1>Notes from RSA Security Conference 2/18-2/22 2002</h1>

<h2><a name="mhoward">Michael Howard, Microsoft's Secure Windows Initiative</a></h2>

<p>Microsoft decided they need to learn from past bugs. Close the loop 
between threat identification -&gt; product planning -&gt; product design 
-&gt; find vulnerability -&gt; write patch. The last necessary step is to 
evaluate the cause of the mistake that led to the vulnerability and include 
that in planning and threat assessment. This includes reviewing past security 
bugs to look for patterns. Also identified a need for better developer 
education and threat models.</p>

<p>All new engineers will now go through training on writing secure code 
(secure code != security code). Not about how crypto works, but how 
to use it.</p>

<h3><a name="design">Design Issues</a></h3>
 
<ul>
   <li>Too many features were enabled by default. Sysadmins don't know what 
they can safely turn off, so they tend to leave everything on.</li>
   <li>Apply the principle of least privilege - make sure programs run with 
as few privileges as possible. Don't test in admin (root) mode.</li>
</ul>

<h3><a name="othertech">Other Techniques</a></h3>
 
<ul>
   <li>Get the execs in the game. To do this, you need to "put the numbers 
in security" by showing potential damages, return-on-investment.</li>
   <li>A checklist of common problems to avoid helps, but isn't sufficient.</li>
   <li>need to teach developers how to identify issues</li>
   <li>Developers seem excited by the opportunity to learn about writing
secure code - new thing to learn.</li>
   <li>MS will spend February doing nothing but security - like kicking a 
bad habit.</li>
   <li>Developers will be held accountable for holes in their code (how?)</li>
</ul>
 
<ul>
   <li>They have assigned security-review bugs against each module in the 
code. We could do this, but we would need a well-defined deliverable.</li>
   <li>PM's should justify all defaults - if 90% of users don't use a 
feature, it should be off by default.</li>
</ul>
 
<ul>
   <li>Techniques for finding buffer overruns:
   <ul>
     <li>Follow data into the system, and question assumptions about the
format of the data at various points</li>
     <li>Look for common "dangerous API" patterns</li>
     <li>Byte count vs. word count (two-byte strings)</li>
     <li>Build scanning tools into precheckin tests (or tinderbox, maybe?)</li>
     <li>Always specify buffer size in function call, don't assume (if you 
assume a null-terminated string, can you be sure?)</li>
     <li>Use memset to verify buffer size</li>
   </ul>
   </li>
</ul>

<h2><a name="dshankar">Doc Shankar, IBM, Linux Security</a></h2>

<p>Open source does not guarantee secure software. Need to generate interest 
from security experts in reviewing your product, and train community members 
to spot problems. Many participants will not notice a buffer overrun when 
they see one. Linux <em>has</em> received good scrutiny.</p>

<h3><a name="benefits">Benefits</a></h3>
 
<ul>
   <li>Programmers will be more cautious if their work is open to scrutiny (?!?)</li>
   <li>Effective peer review/audit</li>
   <li>Faster patches - how can Netscape leverage this?</li>
   <li>Security researchers may be interested in participating</li>
   <li>Open-source crypto is a must, unless you're the NSA.</li>
</ul>

<h2><a name="bshneier">Bruce Schneier, Counterpane</a></h2>

<ul>
  <li>Security is a key enabling technology for the Internet - lack
of security inhibits many Internet activities.</li>
  <li>Security is a business problem and a human problem, not a technology
problem. Processes, not technology, protect us from crime in the real 
world.</li>
  <li>Software makers have been using the military model of threat 
avoidance - try to build an impenetrable fortress. Emphasis on protection, 
closing the holes with technology. This has limits - no fortress is 
impenetrable.</li>
  <li>We should be using a business model - risk management.
  <ul>
    <li>It's OK to fail occasionally</li>
    <li>Use technology, processes, and insurance to mitigate risk</li>
  </ul>
  </li>
  <li>Insurance turns a variable risk into a fixed cost; businesses like
this.</li>
  <li>In the future, insurance companies will insure networks against 
hacking and define standards for securing those networks, analogous to 
standards for fire safety, which are also set by insurers.</li>
  <li>Key military strengths: quick reaction to attack, and superior 
knowledge of the territory. Both can be applied to computers.</li>
</ul>

<h3><a name="types">Types of Security Problems</a></h3>
 
<ul>
   <li>Viruses / Worms / Trojans</li>
   <li>Buggy Code</li>
   <li>Bad Data:
   <ul>
     <li>Buffer Overflows</li>
     <li>Parsing Errors</li>
     <li>Bad CGI input (or any data presented to web app backend)</li>
     <li>Format string vulnerabilities</li>
   </ul>
   </li>
   <li>Misconfiguration, due to operator error or too many default services</li>
   <li>Human Error:
   <ul>
     <li>Weak Passwords</li>
     <li>Social Engineering</li>
  </ul>
  </li>
  <li>DoS / DDoS</li>
</ul>

<h3><a name="securityhard">Why Security is Hard</a></h3>

<ul>
  <li>No demand-pull for security/privacy. Customers will say they want 
security and privacy, but it doesn't really affect buying decisions. 
Currently, there is incentive to create the lowest-quality product the 
market will bear.</li>
  <li>With no demand pull, management won't allocate resources. Need 
to get the boss involved.</li>
</ul>

<h3><a name="recommendations">Recommendations</a></h3>
 
<ul>
  <li>Complexity is the enemy of security. Turning off services or 
putting them on different hosts reduces complexity and possible 
unintended interactions</li>
  <li>Risk Assessment: Risk = Threat * Vulnerability * Impact</li>
  <li>Pitch it to management in terms of return on investment: 
risks, cost of security problems, cost of securing systems/code.</li>
</ul>

<table cellspacing="0" cellpadding="4">
  <tbody>
    <tr style="background-color: #F5F5DC; color: inherit;">
      <td><a rel="up" href="../">Security projects</a></td>
      <td>&gt;</td>
      <td><a rel="contents" href="./">Component Security</a></td>
      <td>&gt;</td>
      <td>2002 RSA Security Conference</td>
    </tr>
  </tbody>
</table>
 


<?
require_once "{$config['file_root']}/includes/footer.inc.php"
?>
