<?php

$html_title = 'JavaScript Security: Security Configurator';

$menu = array(
    'id' => 'default',
);

$extra_headers = '
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta name="DC.author" content="John Taylor">
<meta name="DC.creator" content="John Taylor">
<meta name="DC.title" content="JavaScript Security: Security Configurator">
<meta name="DC.subject" content="JavaScript Security: Security Configurator">
<meta name="DC.date.created" content="2000-08-25T18:24:03+11:00" scheme="W3CDTF">
<meta name="DC.date.modified" content="2006-09-10T09:54:03+11:00" scheme="W3CDTF">
';

require_once "{$config['file_root']}/includes/header.inc.php"

?>

<table cellspacing="0" cellpadding="4">
  <tbody>
    <tr style="background-color: #F5F5DC; color: inherit;">
      <td><a rel="up" href="../">Security projects</a></td>
      <td>&gt;</td>
      <td><a rel="contents" href="./">Component Security</a></td>
      <td>&gt;</td>
      <td>JavaScript Security: Security Configurator</td>
    </tr>
  </tbody>
</table>

<script type="text/javascript" src="scriptintro.js"></script>
<noscript><p>This webpage requires a javascript support enabled browser to be rendered as expected.<br>
Please make sure you have javascript support enabled in your browser.</p></noscript>



<?
require_once "{$config['file_root']}/includes/footer.inc.php"
?>
