Redirect permanent /projects/thunderbird/rel-notes/ http://www.mozilla.com/thunderbird/releases/
Redirect permanent /projects/thunderbird/release-notes.html http://www.mozilla.com/thunderbird/releases/
Redirect permanent /projects/thunderbird/roadmap.html https://wiki.mozilla.org/Thunderbird
Redirect permanent /projects/thunderbird/roadmap-1.5.html https://wiki.mozilla.org/Thunderbird
Redirect permanent /projects/thunderbird/old-build.html https://developer.mozilla.org/En/Build_Documentation
Redirect permanent /projects/thunderbird/review.html http://developer.mozilla.org/en/Mailnews_and_Mail_code_review_requirements
