Redirect permanent /access/dhtml/index.html http://developer.mozilla.org/en/Accessible_DHTML
Redirect permanent /access/dhtml/index http://developer.mozilla.org/en/Accessible_DHTML
RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteCond %{HTTP_ACCEPT} !application/xhtml\+xml\s*;\s*q\s*=\s*0(\.0{1,3})?\s*(,|$)
RewriteCond %{REQUEST_URI} \.htm$
RewriteCond %{THE_REQUEST} HTTP/1\.1
RewriteRule .* - [T=application/xhtml+xml]
